<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>cartoon_image-0</string>
		<key>title</key>
		<string>一个陌生女人的问题</string>
		<key>content</key>
		<string>耳机里是风花雪月的循环，松林稀疏阳光倾斜，要是没有风的话更好。想想要过年啦，考试快结束啦，虽然还有论文和实践要做，可是想到自己一回家就是小公主，可以近距离实体享受老爸老妈的关爱，亲朋好友的问候，幸福感流遍周身。不觉加快了脚步，想要办公室好好备考法律英语和教师资格证面试。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-1</string>
		<key>title</key>
		<string>用善意拥抱世界</string>
		<key>content</key>
		<string>前一段时间团县委举办的点亮微心愿活动时，我认领了一个愿望，就是帮助一个上小学五年级的留守儿童实现他想拥有一套名人传记和故事书的小小愿望，我后来买了一套名人传记和故事书赠给了他，并祝愿他坚强，勇敢，开心快乐的长大。不曾想他多方打听，要到我的电话给我说了声谢谢，谢谢会有人帮他实现愿望，会有人记得他。原来我的不经意的一个举动会温暖孩子的心，会让我觉得善意不会过时，它一直存在我们的身边。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-2</string>
		<key>title</key>
		<string>原点</string>
		<key>content</key>
		<string>书上讲了很多道理，三百六十行 行行出状元;条条大路通罗马。于是就有了千里之行，始于足下。然后我们步履蹒跚，心惊胆战，走了一段，任凭前方刀山火海，我却逆流而上，最后摔的满身伤痕，体无完肤，忍着疼痛告诉自己失败乃成功之母。从此走向大道的不归路，不幸者，从此杳无音讯，默默一生。侥幸者，登高远望，用血一般的经历来证明大道崎岖，得道难!</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-3</string>
		<key>title</key>
		<string>为道为佛的境界</string>
		<key>content</key>
		<string>吾便遁入空门，徒壁思索，阿弥陀佛。登入佛主殿堂，一切释然，忘却烦心之念，静下心轩，领悟天地之灵魄，万念之欲清澈如水。佛赐吾法号：才华达道。佛法无边，普渡人生，超度亡灵，是一件人间快事。吾终能画上一个句号，但在芸芸众生中，吾并没能摆脱红尘的缠绕，六根不净，凡尘中总有那么些牵挂，在这一方净土里那颗静心，时不时要泛起一片涟漪。佛说：酒肉穿肠过，佛主心中留，佛不怪你，该留的留下了，留不住的强求也留不住，超度永远伴随你。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-4</string>
		<key>title</key>
		<string>书之殇</string>
		<key>content</key>
		<string>书摊开在桌上，窗外华灯初上，晚风轻拂，书页翩跹似蝶舞。可惜我不是个称职的观众，看到五十一页的时候，遇见了不懂得单词，我立马拿起手机想着不懂就要问，不用不耻下问，直接问词典，应用软件APP就行。可惜，自制力不强的人，入了手机应用及好似肉包子打狗一去不回，我是越看越痴迷，什么论文资料，什么理论框架，全都被我抛在脑后。一个小时，两个小时过去了，我在虚拟世界里浏览浏览，点赞点赞好不热闹。流光容易把人抛，红了小脸，愁了心。月色昏沉，书页还是那般，不增不减五十一页，只是待我再想好生细品时，指尖却被书页划破，清浅的书页怕是也有怒气，锋利如斯，我生生淌出血来，嘶嘶龇牙。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-5</string>
		<key>title</key>
		<string>简单的快乐</string>
		<key>content</key>
		<string>陪儿子一起买文具，店老板女士能说会道，却郁郁寡欢，每句话都诉说着自己不快乐，问起原因，她说老公不体谅，儿子不听话，她诉说欲望很强烈，但我时间紧，付过款快速离开，第二次去同家店买文具，店老板女士与丈夫同在，丈夫默默无声，埋头苦干却眉头紧锁，女士眼神渴望倾诉却欲言又止，这次我离开后开始思考快乐是什么，却被儿子诉说学校见闻而打断，第三次又去同家文具店买文具，店老板女士独自在，服务很热情，这次主动诉说情绪与家事，她说儿子得了抑郁，说丈夫生意不操心，生活中不说话，说自己没有朋友聊天，更无时间出去散心，说女儿不愿意归家，讨厌家里压抑的气氛，快乐对于他们一家真的好难，顿时我认识到快乐的真谛也许就是，夫妻二人能兴致勃勃和讨论当日的新闻，儿女开心欢愉向你诉说学校的见闻经历，周末一家人公园散步，工作中有得力的助手，生活中有能诉说的朋友，快乐非常简单，但我们真的看到了吗。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-6</string>
		<key>title</key>
		<string>看电影《搭错车》有感</string>
		<key>content</key>
		<string>电影中哑叔与一个只能共享福不能共患难的女人在一起。但哑叔这个所谓的妻子却因哑叔收养了路边的弃婴阿美而耿耿于怀。特别是在一天晚上，这个女人因为哑叔给饿哭了的阿美买了一罐牛奶而没有给她买米酒，就雷霆暴发，大吵大闹，乱摔乱砸。还说了许多中伤，看不起哑叔的话。之后哑叔与她争执，一怒之下，哑叔扇了泼妇一巴掌。两人晚上同床异梦……当哑叔第二天收完酒瓶买回米酒时，妻子已经离开了这个贫穷寒酸的家。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-7</string>
		<key>title</key>
		<string>停下脚步</string>
		<key>content</key>
		<string>有时候，停下脚步是为了更好的看清自己。累了，困了，走不动，不妨停脚步，回头看看自己走过的路。必定是，荆棘丛生之中，夹杂着满地芬芳的柳暗花明。及时发现自己，在走过的路途中的错误，重新找回人生的航向，找回自信，达到理想的彼岸。可见，停下脚步，何尝不是一种美丽？</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-8</string>
		<key>title</key>
		<string>直面自己内心的恐惧</string>
		<key>content</key>
		<string>我会怀疑人性本自私，这或许在人们看来是个贬义词，是的，在我们生活中它的确是这样。但我说的是广义的，从人的原始的行为动机上可以窥测。这种自私是存于本能中的，而人的慷慨是存在于大脑皮层中的，动物和人的区别就是人类的理智可以主宰本能，但是当人们自己处于未察觉状态时，本能体现无疑。我们会出于本能去撒谎，出于本能去争吵，也会出于本能去逃避，这些都无可厚非。敢于直面这种内心深处的本能，承认它们带来的影响，限制它们，便不再可怕。人之所以容易犯错，是因为错误的选择总比正确的多的太多，而有些错误刚好满足了自己!但如果我们直面自己内心的弱点，我们至少不会在和人的争论中丧失理智，也不会故步自封，沾沾自喜。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-9</string>
		<key>title</key>
		<string>属于自己的纯粹</string>
		<key>content</key>
		<string>曾经孩童时代豪无忧愁可言，每天都乐呵乐呵的，满心满脑子挂念的都是玩具啊，零食啊，玩啊之类的。青年时代有了自己的小心事，可能是暗恋隔壁班的谁谁谁，亦或者月考、期中考、期末考等等。踏入社会以后，才发现人会越变越复杂，都挂上了一张虚伪的面具，那一抹纯粹变得混浊不堪，如同一湾清澈的河水被附近的化工厂污染了一样，那么容易又那么理所当然。

</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-10</string>
		<key>title</key>
		<string>计划与人生</string>
		<key>content</key>
		<string>孙子曰：&quot;夫未战而庙算胜者，得算多也，未战而庙算不胜者，得算少也。多算胜，少算不胜，而况于无算乎”。《计篇》意思是说，拉开战斗序幕之前，就需要已&quot;算&quot;商讨周密，充分估量了有利因素和不利条件，开战之后就往往会取得胜利;如拉开战斗序幕之前，未能进行周密&quot;庙算&quot;，不知己知彼，就容易导致失败，更何况战前无&quot;庙算&quot;的瞎打呢?可见，将帅的智慧谋略所形成的作战计划在战争中是何等的重要。人生也一样，因为人活着不论是生活还是工作，都会不断地遇到新问题，在处理问题时，智慧越多，处理得越好。遇事不动脑筋先想一想，在没有充分有利条件和不利条件的情况下就莽撞行事，必然碰壁，所以常言道：凡事应三思而后行。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-11</string>
		<key>title</key>
		<string>脚步慢下来，让心跟上</string>
		<key>content</key>
		<string>接下来自己该如何谋求到一份工作呢?一代人有一代人的秉性和追求，对于有抱负有梦想的人到现在这个年龄就算是事业基本上有所成就或至少是相对事业稳定了。那么作为一个很平凡的普通从业者又该如何面对当下的自己呢?“要做好事，先要做好人”这句话虽然很朴素，我还是比较在意，作为普通人也得勉励自己要在一点一滴中不断完善自我。“能够与人同甘共苦，和睦相处”等等虽然不属于技术能力的范畴，但现在做事越来越拼的是团队能力，这种情况下亲和力就显得更为重要。随着年龄的长大，我的确也逐渐告别了朴素的衣裳，但我不会也永远不会告别难能可贵的朴实心灵!记得有句话说的很好“把脚步慢下来，让心跟上”。到啥时候都不要失去本有的色彩，否则就会日渐迷失自我。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-12</string>
		<key>title</key>
		<string>一个美术高考落榜生的感悟</string>
		<key>content</key>
		<string>我出生于一个再普通不过的家庭，父母都是打工的，也就是普工。每天做着简单重复的事情。也许正应了那句话吧，穷忙穷忙，越忙越穷。我从小老师觉得我画画很有天赋，于是就推荐我学美术，觉得我是个可造之才。父母每天省吃俭用把钱留给我去报美术班，即便是这样这些学费也只够我上一个地方上的小班，学过美术的都知道，地方上的小班，尤其是在小城市，师资就很差，因为好的老师几乎不会出现那么一个小城市，小城市工资低，视野小，真正有本事的老师都愿意去大城市发展。结果可想而知了，我们那个画室都是些不良少年，读书不行，天天就借着画画之名过来混时间。我们老师也不管，也管不了，老师一个星期都给我说不上一句话，每天我就自己琢磨怎么画。后来，整个班都没几个人过联考。其中也包括我。我问心无愧我很努力，只是方向错了而已。美术联考没过，当然意味着连参加文化高考的资格都没有。等待我的也只能是复读。可是，复读对我这样的家庭，负担得多大啊。那一夜，我失眠了。我爸爸妈妈已经花光了他们所有的积蓄。他们也无能为力，生活对于我来说只有四个字：毫无办法。那是候的我，真的很迷茫，每天躺在床上，不肯睁开双眼，因为我只有在睡觉的时候，没有痛苦，对我来说，也许最好的幸福是一无所知吧。我，也别无选择，不读书了吧，出去打工。我第一次向命运妥协了。由于没有上大学，我就只能做一些基础的活，我去到一家餐馆洗盘子。那样的生活倒也很安稳，只是看不见什么希望，活着觉得行尸走肉。怎样形容这样的感觉呢，仿佛是你慢慢掉进了一潭水里，眼看着一点一点沉下去，你喊救命，却没人能帮你，你眼看着生命一天一天被消耗，确无法声张。我忽然觉得很可笑，因为在以前我一直都认为我和很多人一样，怀揣许许多多的梦想，闭上眼睛，自己就是希瑞，有上天赐予的力量，拔出宝剑，没有斩不破的黑暗，为什么一定要被现实无声无息地推到角落，困在人世，学会权衡取舍，直到回头时候已经想不起来自己怎么会变成此刻的模样，才肯承认，你不是舒克，我也不是贝塔，我们只是两只忙碌的老鼠，生活只是一场觅食。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-13</string>
		<key>title</key>
		<string>辩证问题才不会被淘汰</string>
		<key>content</key>
		<string>在我们初入社会时，面对用人单位的招聘时，许多用人单位都会在面试阶段设置开放性的题目考验应聘者的观察能力和随机应变能力。记得那时多年前的一个面试题，多名面试者经过层层筛选进入面试环节，进入面试的房间后，桌上只有一个包，在距离面试时间还有五分钟的时候，一名保洁人员进入房间“不小心”把面试者身上碰上墨汁，多数的面试人员会非常愤怒，会第一时间冲到厕所对污点进行处理，但越用水处理污点越大，以致于面试者要么错过面试时间要么在面试时显得很慌乱，从而影响面试者整体的形象。最后只有一位面试者不慌不忙坐下来有条不紊地开始了后续面试环节，因为她用好了桌上的包挡住了污点形象得体、大方，临场应变能力强。当然，最后她顺利进入该公司工作。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-14</string>
		<key>title</key>
		<string>与其苦心改变别人，不如努力改变自己</string>
		<key>content</key>
		<string>当我们的习惯和理念，和别人发生冲突时，总希望能改变对方，让其观念一致。努力说服别人，迎合自己。即为难了别人，也折磨了自己。

为什么说爱情过不了三年，婚姻过不了七年。因为两个生活不同的人，需要太多磨合。只有生活在一起，你才知道对方的生活习惯，和为人处事。难免会有些，不同的理解和看法，不能强制的要求对方改变，每个人的生活模式，都是十几年的习惯形成的，一朝一夕很难改，甚至各有各的理，非要挣个明白，也就相互厌恶。

无论是生活，还是工作，我们都是独立的个体，每个人有自己的个性和想法，站在彼此的角度上思考，矛盾就迎刃而解了。

前几年和朋友合租，也是摩擦不断，好比，我喜欢安静，朋友喜欢热闹，我喜欢早睡早起，朋友喜欢晚睡晚起，我喜欢起床后叠被子，朋友则认为不需要，反正晚上还睡。饮食上，我喜欢清淡，朋友无辣不欢。时间久了，矛盾难免，聊天的时候，也有沟通过，可也没多大效果，时间久了，相互理解后，觉得彼此都没错。后来一直相处的很默契。

既然改变不了别人的想法，就改变自己的态度。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-15</string>
		<key>title</key>
		<string>我的梦</string>
		<key>content</key>
		<string>青天奈何别人的梦是茧中的幼虫，待破茧成蝶时，就会展翅飞翔。可我的梦呢，是一峭悬崖边上的独木桥，搭接着另一边的悬崖峭壁，走不好就会摔的粉身碎骨。

看着湖中清水的波荡，那是鱼儿跳跃龙门留下来的痕迹，依稀可想那是多么痛的过程，跳跃，摔伤，跳跃，摔伤……不断地重复着。我的梦啊，就如同微风吹来的落叶，飘落在水中的波荡，被轻轻的带到另一个地方，自生自灭。也许站在枝子上的歌手，会为你鸣奏悲哀的交响曲，也许走在岸边上的生人，会为你拍手叫好的促进着，也许游在湖中里的虾蟹，会为你跳起嘲笑的水中舞。看啊，真的没有人可以自愿的帮助你，他们只是站在一旁静静地看着你的落魄，而不看你的成功，他们只是嘲讽着你的过程，而不看你的艰辛，他们，多么的像是卑鄙者啊。

只有天空徐徐而来的云彩，在你的头顶，在梦的前方，加油喝彩;可能是忽视了它们的存在，这个梦变得遥不可及;可能忘记了身后的影子人，这个梦变得脆弱不堪;可能没忆起双手捧起的奖牌，这个梦变得百般无奈。前方的独木只是梦的怒放，云彩只为你见证一切;水里流走的落叶，不是自生自灭，而是隐居山林。即使独木晃动的非常激烈，也要牢牢稳住自己的身躯，不要摔入悬崖的深渊;即使陌生朋友的流言风语，也要欣然接纳他们的鄙视，不要辜负他们的羡慕。

在独木桥的身后，看的只是一片悬崖峭壁，谁知后面的精彩与神奇呢?行了不到一半的路程，看着脚下的深渊，那里肯定会有死神的锁链正在等待着。遥想公瑾当年，哪个风流人物的梦，会是那么的平坦呢，金戈铁马，统万千军队的可汗?还是一代伟人，领百家民兴的毛泽东?只要梦是美的，是行动来的，那么就没有人会是平庸的，凡俗的;即使是失败了，也没有可后悔的，因为过程是最美的。

别人的梦不是我的梦，我的梦也不是别人的梦。我的梦是厚积薄发的梦，是独木桥上一道最美的风景线，只有我知道:我的梦是多么的美，我的梦是那么的不简单。悬崖峭壁是在印衬着我的渴望心，下面的深渊是在不断地激发着我的梦啊!</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-16</string>
		<key>title</key>
		<string>华丽皮囊</string>
		<key>content</key>
		<string>杨大浪，是外号。因为叫的久了，已经代替真名。“浪”是方言，顾名思义爱打扮，北方人专门用来形容臭美。“大浪”就是相当的、特别的、无与伦比的爱臭美。能被称作“大浪”的人，可想而知臭美到了极点!

杨大浪颜值不高，爱美是她唯一的追求，乐此不疲，至死不渝，已经到了丧失理智的程度。作为普通工薪阶层，她省吃俭用、馒头咸菜、米饭拌酱油，倾其所有，把赚来的钱都穿在身上。什么流行穿什么，什么高档买什么，从头到脚，时髦到彻彻底底，洋气到淋漓尽致!为了美，老公跟她离了婚，为了美，众叛亲离!

对于杨大浪每天时髦的行头，在换来无数羡慕嫉妒恨的同时，由于长期营养不良，导致身体抵抗力下降，最后引发诸多疾病直至癌症晚期。在病魔对其进行猛烈地攻击和百般折磨后，杨大浪那病怏怏的躯体，已然成了被华丽皮囊裹着的一具木乃伊。年仅四十岁，就终结了她鲜活的生命撒手人寰。追求美，当然要付出代价，能偏激到付出生命的代价来追求美，恐怕这个世界上也不只杨大浪一人!

人之将死其言也善。在医院的病床上，奄奄一息的杨大浪一行行悔之晚矣的泪水，淹没了所有人曾经对她肤浅的羡慕!她含泪对亲属以及同事们说出了浪子回头的最后遗言——人生没有回头路，正如生命不能重来，否则一定爱惜身体。如果生命不在，再华丽的皮囊又有何用?

一个追求外表美的人，在追求美的过程中忽略了健康而失去生命，舍不得买瓜果梨桃、更舍不得吃七荤八素。但凡杨大浪能把买衣服的钱用来合理膳食，补养身体，又怎么会枯萎在最美的年华?就这样，一个年轻的生命，在众人的一片唏嘘不已中化为灰烬，陪葬的还有一堆昂贵漂亮的衣裳……

一切事情皆有因果，种瓜得瓜种豆得豆。种下了虚荣和盲目，牺牲健康和生命满足一时的虚荣，得到的必定是惩罚，结局也一定悲惨!杨大浪的行为，正如同那些卖肝、卖肾买苹果手机的人。即便是拿着用卖肾的钱买来的苹果手机，无疑也是抱着手机奔向死神!两三年后，手机被新款取代沦为废品，卖掉的肾脏却永远不在!还有那些省吃俭用，去做美容整形的人。倾尽积蓄为了美，在遭遇了失败的整形手术后痛不欲生。钱已花、人已毁，最后嚎啕大哭到惊天地泣鬼神!

一切物质都是生命的附属品。因此，不要在物欲横流中迷失自我，盲目地追求必然要付出代价。被虚荣心迷惑的人生，注定是一颗滑落的流星。虚荣何尝不是一种罪过?杨大浪式的人，自然大有人在!

人生的目标如果是错的，行为就是错的。行为是错的，就导致了命运的一错再错!褪去浮华，从容淡定，人生本应该是内外兼修的旅程，由内而外地绽放。再华丽的皮囊，如果不依托于宝贵的生命，也永远只是一件空皮囊!</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-17</string>
		<key>title</key>
		<string>在校千日好，出门犯难</string>
		<key>content</key>
		<string>才离开学校一天，就感慨校园住宿条件是极好的，只是离开了校园，不如意的事情还多了去，除了偶尔感叹，拿出勇气来适应，别无他法，何况，这还不算什么，以后的以后，深感力不从心的事情还有很多，心态端正即可。

校园，一个长方形的洗漱池，两个水龙头，洗头、洗衣服什么的都很方便，这里只有一个圆形水龙头，关于洗衣服的地方，只能蹲在一个“歪嘴”的水龙头面前清洗;关于厕所，一点也用不习惯这崭新的有盖子的马桶;关于设备，除了一张桌子，别无他物，想以前，人手一个靠椅，放置东西的地方也多，而这里，这一切都不能如意。

当然，这里也有还好的地方——免费的24小时的热水供应，不用担心有人来查寝的大功率烧热水，这是目前我能想到的最方便的地方。记得以前，寝室二楼就是小卖部，如今怎么可能，一定要下楼才有饭吃亦或是点外卖。

这些都是客观因素，自认为适应能力还是挺强的，所以一个月而已，困惑不到我的，我可以活得很好。

于是从后天开始上课，上午八点半到十二点，下午两点到六点，晚上上到九点半，周末休息一天，这就是以后的生活模式。

接下来是持久战，加油，我可以很好!</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-18</string>
		<key>title</key>
		<string>愿做红尘一把泥</string>
		<key>content</key>
		<string>做一把泥很好，好在你可以习以为常，好在你可以不露声色。

做一把泥难得，难得的不是哪一种生命都能够永存于世，不是哪一种灵魂都具备唤醒沉梦的能力;难得的你尽可以在这样的世界里焕发蓬勃的生机，在不变的日升月落中坚定你的一往深情。

无论身在何处，无论怎样装着，是择岩石水岸而居，或者依山傍海而栖，纵然是一把，是那么的一小把泥，你和他们一样具备着存在的价值以及存在的全部意义。

这样的泥，与阳光为友，可以助芳草展开希翼;与溪水为伴，可以替青苔呼吸尽力;与朝露为伍;可以为花儿芬芳倾心，同样，与种子结为亲密，更可以芳华世界，收获惊喜，因此，一把这样的泥，纵然不多，纵然是那么地微不足道，只要一如既往地做好自己，定然可以培育万物，滋养生命。

做好一把泥是这样：与山川河流身心相依;听凭树木花草自由地舒展心灵;任由飞禽走兽平地而欢卿，喜看所有的城市与乡村依依而矗立，与此，守望世界的一切美好因万物而丰盈······

做一把泥很好，好在五谷丰登，香飘万里，好在所有的一切皆注满一种灵魂的香气，饱含希翼，好在万千生命因此生生而不息，好在他们的力量永远载着你的梦境。

做好一把泥，香花草木不会因为你的平易朴实而离去，人间万像更因一种博大而绵绵不绝，一望无尽。

做好一把这样的泥，你不会因此妄自非薄，自甘堕落，因为，所有的生命与价值首先是来自于一种自我的认知与确立，如若持一种蓬勃的，奋发而努力的精神与气概，即使你的分量在别人的眼里微乎其微，有谁可否认你不是一种生命，不是一种可以体验活着而非死去的载体，一如你自己，将灵肉和世界揉为一体，与岁月栉风沐雨，岂不是何等的波澜壮阔，何等的美丽?

做好一把泥无需成名，只要朝来晚去，花开遍地，托起他人的鲜亮，贡献应有的自己，难不成不是一种无言的壮举?做好一把泥，无需谁来惦记，只要灵魂丰盈，身心不惧，广袤的天空何处不会飘来“路漫漫其修远兮”的身影，天涯尽处，怎不会激荡起一种“横眉冷对千夫指，俯首甘为孺子牛”的足音?

谁能说，这样的泥，不是一种生命的起点和缩影;谁能说，这样的泥，不是所有归去来兮最好的证明?

也许，谁都无需想起，亦无需忘记。只要愿意，在滚滚红尘之中做好一把这样的泥，一如成就你独一无二的、最好的自己!</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-19</string>
		<key>title</key>
		<string>热血深蓝梦</string>
		<key>content</key>
		<string>十万兵火抵不过一颗真心。

枪支弹药扛不住一份忠诚。

在人性与违抗面前，我们义不容辞的选择了人性，与反面派思想作了长久的衡持。在和平年代，我们用汗水诠释了人民军队一不怕苦，二不怕死的优良传统，为进一步持枪上战场做出了满分答卷。如果非要用颜色来形容这支能打胜仗的队伍，那这一定是深蓝，驰骋在大海的颜色，胜利的颜色，这更是水兵们的颜色。

和平年代，有着不平凡的生活，息息维和平，朝朝为打赢，紧跟党的步伐，求稳定谋发展。

待衣锦还乡之际，我们还世界一份安宁。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-20</string>
		<key>title</key>
		<string>青春路上</string>
		<key>content</key>
		<string>青春是什么?青春就是明明一无所有，却仍然相信世界总有一天会在自己脚下。

你有多自信，世界就有多信任你。当一个人明确自己的目标后，全世界都会为你让路。青春，它令老年人羡慕;中年人留恋;少年人向往。青春，它比世界帅气，比烟花灿烂，比星空耀眼。朋友，是水手有何惧惊涛骇浪?是樵夫有何惧荆刺深涧?青春年华的我们，只要有梦想，终有一天会实现!青春年华，不必在乎身旁的声音，不必在乎周围的眼睛，更不必顾及周围的旁观者。或许你的与生俱来不太完美，又或许你的身世背景不太给力，但你要记住，所有的嘲笑和歧视都只是暂时的，自卑也都是没必要的。现在的难过、无助、困惑挺一挺就过去了，把如今的困苦当成动力，让你的未来充满活力!

总有人问我:一个女孩子为什么努力?因为生活从不因为你是女孩就对你怜香惜玉，所以我要努力;因为优质的圈子是挤不进去的，等到你足够优秀时，就可以昂首挺胸的走进去，所以我要努力;因为别人可以拼爹，而我只能靠自己，所以我要努力;因为我想要一份长久的工作，所以我要努力;因为我现在一无所有，所以我要努力!不为别的，只为一份长久的事业，为一对操劳的父母，为一场纯粹的感情，也为一个更好的自己!只要你肯努力，你想要的，岁月都会给你。

不挥霍，怕对不起青春;太挥霍，怕浪费青春。我们总是再这该奋斗，该努力的年纪，挥霍着短暂的青春。青春只有一次，别等失去了才知道惋惜。

你埋没了我十二年的青春，我怎会再让你杀死我一生的梦想?梦想，我在青春的路上一路欢唱......</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-21</string>
		<key>title</key>
		<string>只要出发，就能到达</string>
		<key>content</key>
		<string>你想走多长的路，到多远的地方?你想把有限的人生过成什么样?你想对未来的自己说些什么?你想不想知道自己若干年后是不是依然红着眼眶，热血喷涌?

人生的前十几年，你可以过得随意些，该玩儿的时候玩儿，该闹的时候闹。人生的后面几十年，你就要过得规律些，该吃的时候吃，该拼的时候拼。

人生就是一次强者与弱者的博弈，你弱，你向命运妥协。你强，磨难向你低头。所以有的时候，那些看似遥远可望不可即的事情，只需要你一个坚定的决心，就会变成极为简单的算数题，但是这道题，并不是让你算出精确无误的答案，而是，让你计算出现实与实现的距离。

这距离，说不准很近。近的像是唾手可得般轻松。这距离，也可以很远，远的让你哭着喊着追寻。

但是，所有所有的前提，是你，一定要学会出发。只要出发，就能到达。

只要出发，就能带着信念、梦想、所有稀奇古怪的想法上路，让这些东西，与前方路途所有的未知碰撞出与众不同的火花。

只要出发，就能坚定的走下去、跑下去、跳下去，哪怕匍匐。像是不留退路，大声的告诉这个世界与心底怯懦的自己，只要出发，就能到达。

只要出发，你就能把所有未完成的完成，所有想法提上日程。只要出发，你就不怕被嘲讽，就不怕被打压。只要出发，一直觉得那么远的彩虹就会近的让你微微抬头，就能看到那一片渐变的美。

你要相信，只要出发，就能达到。你要知道，迈出第一步，然后才能走接下来的第二步第三步。你要明白，这个世界，无论如何变化，都不会辜负主动出发的人。因为率先出发的，总是能够第一个到达。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-22</string>
		<key>title</key>
		<string>适合自己的才是最好的</string>
		<key>content</key>
		<string>也许是受网络有关碎片化学习内容的影响，也许是为了逃离对手机的依赖，自己慢慢喜欢上了看书，而且看书的内容也并不固定。其实，看书是从大学的时候才慢慢开始的，当时喜欢看一些励志类书籍。一直以来，我并不是一个知道该怎么选择书籍的人，并不知道该看什么书，有的时候看什么书完全出于兴趣，有种天马行空的感觉。对于书，我还没有到如痴如醉的地步，最多只能算得上喜欢。对于选书，我认为适合自己的才是最好的。

我很庆幸，我们身处在现在这么一个便利的时代。如果你想找回传统的感觉，你可以看纸质书;如果你想携带方便存储多随时阅读，你可以看电子书;如果以上两者你都不想看又想学习知识，现在有很多APP如喜马拉雅、十点读书等有主播帮你读书，你还可以听书。真可以说，知识无处不在，就看你想不想学。看书，我更偏爱纸质书，个人感觉这才会让我找回读书的感觉。当然现在电子书也很多，也更加便宜，有很多还是免费，但看电子书可能就会不自觉地去看网页或者看视频。以前，自己看书都是偶尔听到广播或者报纸在推荐哪本书，我才会去买来看。但后来随着网络越来越普及，自己看网络信息的时间越来越多，放下手机却发现自己和仿佛什么都没看一样。我又慢慢地回归纸质图书，网络充斥着各类的信息，在接触的一些推荐书籍信息感觉功利性太强，慢慢地也不是太信任。后来选书时，喜欢上了畅销书和社科类书籍，感觉很通俗易懂，有些书甚至有一种一次想看完的感觉，这也许是畅销书畅销的原因之一吧。在一次与朋友聊天时，朋友推荐了某网络平台，书籍、电影等各类推荐信息都有，据说评价还比较中肯。以后购书时，我都会把该平台对书籍的评价作为重要的参考，以便决定自己该看什么书。毕竟，身处在现在的我们精力是有限的而图书对我们来说几乎是无限的，我们已经不可能阅尽天下图书，所以只能选择好书来读，开阔自己的视野。在以后的购书历程中，我依据排行榜的高低来选择自己想看的书，当然也看到了一些好书，但也感觉有些书并不像评价的那样对自己有很大的影响和触动，当然并不是说这些书不是好书，我想应该是自己的阅历和文学水平还达不到，不能领会作品所要表达的内涵。就好像武侠小说《天龙八部》里面的一个片段，虚竹成为灵鹫宫宫主后到密室修炼神秘武学壁画，而服侍他的婢女在得到虚竹的许可后修炼壁画上的武功时，但由于自身的武学根基和内力不足反而使自己受伤。阅读是一项爱好，乐趣在于能够使人在认识世界的同时放松自己，追逐自己的兴趣去了解想知道的内容，增加人生的宽度和厚度。

在人类社会的历史长河中，我们沉淀了很多的优秀著作，它们都是经过前人精心打磨保存至今的经典，是前人思想的精华，我们通过阅读前人的著作才能够站在巨人的肩膀上看得更远，走得更远。当然，这些经典著作并不一定适合每个人去阅读，一本书的价值在于，它让阅读的人愉悦了身心，提升了自己对某项事业或事物的兴趣，向社会传递了正能量，这样的书就应该是一本好书。阅读是一项爱好，一个兴趣，每个人选择不会完全相同，但我相信只有适合自己的才是最好的。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-23</string>
		<key>title</key>
		<string>黑天鹅</string>
		<key>content</key>
		<string>总是追求着完美，追求白天鹅的至纯至真，追求黑天鹅的至魅至惑，两种极致融于一体，却使你疲惫不堪，在焦灼，混乱中用生命舞出极致，“I am perfect. I was perfect.”是你用28岁生命对完美的追求，但是令看者无不心痛，无不惋惜，生命诚可贵！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-24</string>
		<key>title</key>
		<string>太过强势的父母所想到的</string>
		<key>content</key>
		<string>昨天晚上，看到一个母亲对自己的孩子进行大声的训斥，而孩子就弱弱地开始哭泣。我当时就心中感觉到做父母的强势;还有，那个孩子的弱势;要知道这个孩子是一个男孩，而且是十二三岁的男孩子，被训斥了几句，就开始哭泣的，这就有些不对头了;还有，这并不是什么大事情，只是平常的小事情而已。而做父母的很有可能是恨铁不成钢的，所以才会如此，原因在于这个孩子没有为自己争取倒座位。不说事情的缘由，因为孩子都是一些小事情而已，但是，我觉得着就完全没有必要了，因为这个孩子并不是孩子的责任，而是他的父母的责任，也是他的父母行为，让这个孩子弱弱的。

我当时很不客气地对那个母亲说，她太过强势。她说，她知道的。我就很纳闷了，既然是她也知道，为什么就不会学会改变?强势的父母，所教出来的孩子，都是弱弱的，永远都是弱弱的。因为这样的父母控制欲太强，他们的理由是很强大的，也很厉害的，就是替孩子的着想。真的替孩子着想，就应该是放手，而不是一直控制着自己的孩子的行为。

如果是我，我就不可能会这样埋怨着孩子，也可不能在那么多人跟前埋怨着孩子的，也不可能会训斥着孩子的，而是会对孩子进行鼓励，还有安慰;然后对他说有下次，要进行独立的争取。孩子就会不在意。但是，那个被训斥的孩子，一直都是哭泣着，看着母亲的脸色行事的。这个母亲没有露出好脸色的。最让我不习惯的是，还是孩子的哭泣。孩子，一个十几岁孩子，怎么一点阳刚之气都没有?和一个女孩子一样?要知道，男人有泪，并不是这样轻易地流下来的，而且，也会让很多人看不起的。

而且，作为父母，如果是女孩子，就应该和奶奶外婆等多接触的;而作为男性，就应该多接触几次父亲、爷爷、老爷等，而不是接触自己的母亲。如果和自己的母亲接触的时间常了，就会受到母亲的影响，很多时候就没有阳刚之气。这个时候，怎么办?现在很多男人都是肩负着养家糊口的责任，很长时间都不会陪伴着自己的孩子，但是，孩子也要和男人接触，而不是只和女人接触。我们国人的教育，很多时候都没有注意到这一点的，都没有注意到他们的教育出了问题，而不是孩子的问题。他们一直都是以为这是为了孩子的好，却忽略了很多孩子自己的想法，很多孩子自己考虑问题的方式。

我们为什么就没有可能会停下来，倾听孩子的声音?难道孩子的想法真的就不重要?

很多时候，我们并没有在意我们的行为，会对孩子造成什么样的影响，但是我们的孩子却可以学会我们的行为。还有，我们做父母的不能够显现的太过强势，否则就很容易让孩子变成弱弱的。如果我们经常替孩子拿主意，孩子自己就不会拿主意，这是肯定的，也是毋庸置疑的。但是，我们想过没有，孩子迟早有一天都会长大的，会要独立飞行，会想要走到别的地方的，我们是不可能会一辈子都守候在他们的身边的。到了那个时候，我们才放手，是不是晚了?

就像是昨天晚上那个强势的母亲，对着自己的孩子，进行着呵斥，这是很不可取的。孩子的自尊心，在母亲的眼睛里是什么?她根本就没有看到自己的孩子的自尊心?还是看到了没有说?还是忽略了?很多时候都是忽略了，忽略了孩子的自身的感受。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-25</string>
		<key>title</key>
		<string>客观唯心之境</string>
		<key>content</key>
		<string>世界已经支离破碎，不过没关系，至少还活着，并且一切尽在掌控之中。曾经有人说：错的是这个世界!不过讨论对错有什么意义呢?如果非要说有个对错，我说的就是对的，违逆我的就是错的。

微风拂面而过，吹拂着额前的头发。夜宸背负双手静静站在这个世界的顶端，深邃的双眸望着着天际。似乎眼睛穿透了这天，抵达了无限远之外的鸿蒙初开之处。

“终究不过是镜花水月，昙花一现罢了。”夜宸感叹一声。

鸿蒙初来之地传来一阵苍老而荒凉的回音：“这天、这地还和当初一样，丝毫没有变化。”

“这天、这地变不变化不全是您一念之间吗?”夜宸继续说道：“我等对于您来说与那沙石有何区别，现在我在这个世界的顶端，而您一念不论是我还是这世界都将不复存在。”

苍老声音回复到： “一切皆我一念，一念便是永恒。你是自我创造时间以来，第一个和我精神无关的产物。”

夜宸接话道：“我希望能回到那没有变数的时候，我从来没想过成为特殊。”夜宸双眼沧桑，分明是少年模样，却好像经历了万古。

昔日的好友，红颜都已成为了岁月的痕迹，万世孤独，再也不敢触碰与那情字有关的一切。

“这是你的使命，也是你的宿命，天命之心选中了你并非偶然。无尽的轮回是你的煎熬，也是你无法推却的责任。”苍老荒凉的声音渐渐沉寂下去，似乎从未出现过。

夜宸知道，这不是错觉，到了今天，他已经明悟了一切。不论是这个世界，还是更高级的位面，万古岁月不过是至高神的一念，至高神的精神幻化了一切，万古岁月不过是一瞬。什么爱恨情仇，什么对错丑恶，在神的眼里一文不值。天地不仁， 以万物为刍狗。但这天也不过是一文不值，与刍狗没什么两样。

“神的意志不可拂逆，但是这个世界我可以改变。不管需要多久的时间，那朵相似的花我一定会寻回，我发誓!”</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-26</string>
		<key>title</key>
		<string>人生苦短，惜时惜缘</string>
		<key>content</key>
		<string>“一辈子，三万天”。无意间看见这“斗大如珠”、醒人耳目的标题，思维一下子断片，心脏骤然突兀地狂跳两拍，呼吸紧跟着急促了几秒，整个人顿时呆呆地愣在那里……

此前，虽然喜欢把人生二字挂在嘴边，心却从不以为然。总感觉时间还在，机会还在，做什么事都喜欢拖延。但眼前这六个普通且又简单的汉字，读来着实让人“扎眼”又“扎心”。

平时看似漫长的人生，其实来日并不方长。面对流光飞舞、“屈指可数”的日子，纵使心存余悸，也要将其慢慢沉淀。不管我们愿不愿意，一个人从降生的那刻起，生命就已经进入倒计时状态。

“花有重开日，人无再少年”。人的一生，恰似一场花开花谢的过程，却无缘重现花儿的再世轮回。

浮华红尘，初生懵懂。纵使日后明白，一个人从牙牙学语到苍苍暮年，不过是须臾间的事情。可我们通常都是喜欢用思想先行，而行动上总会带着无尽的慵懒和惰性。我们似乎已经习惯了素日里的各种等，习惯用明天睹人生。

漠漠红尘，芸芸众生皆是客。时光的渡口，走着走着，岁月忽已晚。这个世界，没有什么能够真的永恒。人的一生，也没有那么多富余的时间让我们一直等。因为谁都不知道，明天和意外哪个先来。

珍惜时间，珍爱生命。于清凉的岁月里，爱生活，爱亲朋。将梦想装进行囊，把责任扛在肩上，用真情回馈未来的时光。珍视当下的每一个晨昏，把握人生际遇里的所有缘分。

于尘世里行走，人生就是一场无法返回的单程旅行。要走的路和正待遇见的人，全是未知数。世界这么大，我们无法预知在人来人往的流年中会遇见谁，于车来车往的站台上又会经过谁。红尘阡陌，谁和谁相遇，谁与谁擦肩，在一起的时间或长或短，貌似都是命里不可言说的一份缘。

遇见皆是缘。人与人的情感，需要用心呵护。无论多么熟悉的人，如果不经常连络，慢慢地感情就淡了，心与心也会越来越远。

生命来来往往，我们无法预料人生无常。有些事、有些人一但错过，可能就永远地失去。趁时光不老，理想还在，做自己想做的事，不要让它只是成为今生的梦;趁我们不老，真情还在，去表白一份深种心间的情，不要让其成为遗憾终生的痛。

生活像一面检验真情的镜子，时间似一把丈量生命的尺子。如果我们每天都能拥有一份阳光般的心情，于嘈杂的市井中修一枚简单的心境，在熙攘的人潮里结一份注定的尘缘，这便是生活的安暖与美好。

人生苦短，请惜时、惜缘。这一世我们能够相遇、相知、相惜，能够成为彼此的家人、朋友、爱人，这应是上天注定好的缘分。有了爱与温暖的陪伴，我们的人生才是圆满!</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-27</string>
		<key>title</key>
		<string>感动本无“最”</string>
		<key>content</key>
		<string>从某种意义上说，人们总会记得某个或某些让人潸然泪下场景。挑几件来写文章，比如用此题材来“争奇斗艳“是再正常不过。但在这种无止境的循环中，难道没有人跟我一样生出疑问?不妨现在就来推敲一下。

客观的说。为人子女，在父母那里所受的感动，什么东西能比，哪件事情称“最”?主观来讲。在从外界环境与自身积累中成型的人生观，价值观等，虽各有千秋，但总要从某些方面来展现生命的意义。就我而言，如果时光倒流，让我的生命没有诗词，让我不能感受美好，那真是比死亡还要可怕!

另一方面，从那个伟大的坏人定律来看，感动前加一个最字岂不是邯郸学步?试想一个不变初心对你好的人，何时为最，何地称好?而恰恰让着些八竿子打不着边的人钻了空子。

为什么有“雷锋”，为何有雷锋精神?当然，一个陌生人给的恩情也可能是真情，但是正因为陌生所以才能得一“最”字。我从不否定人间的真情与美意，所以除了社会公德心，公民责任心之外更重要的是“雷锋”的胸怀与爱，如此诚挚地辨析“最”字，无非是想更好的对待感动，不至于随波逐流。

但老子的道，尚不可道，而感动作为此中一个细枝末节，怎得周详? 过分的理智总使人厌恶，现在请让我自诩为诗人，从上面的真实的理性中暂且抽离出来。

瞧瞧我身边香气弥漫的紫藤，还有未落败地桃花，忙趁夕阳，各自绰约。看看周围相同的人，还有不曾改变的深情，恰逢青春，急走同行。既然“所谓爱情，藏在边边角角的烟火里。”那所谓感动，又何尝不是匿于细水长流的平凡之中?

元稹用“唯将终夜长开眼，报答平生未展眉。”来寄托愁思。纳兰容若也曾写下“赌书消得泼茶香，当时只道是寻常”这样的的诗句。一个是赌未来，一个忆过往，同是怀念亡妻，不同的方式，却是同样的深情。

想必深情出之何因，得之何故?此刻也不必嗦罢。所以这个“最”字实在太肤浅，若是能附些细水长流的味道。也自然就能品得出生命的韵味儿了。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-28</string>
		<key>title</key>
		<string>孤独，是灵魂里的一泓山泉</string>
		<key>content</key>
		<string>岁月如迢迢千里之江河奔腾于我们每一个人的血脉之中，它不会因世事万千变化，不会因你的潮涨潮落而停留而婉转或缓步。有谁的岁月可以承载起你一个人的孤独，有谁的岁月能够肩负起你一个人的使命?只因为，孤独本来就是一种与生俱来的特有的灵魂。

没有灵魂的人是不会具备孤独感的，但具有孤独感的人未必都具备一颗孤独的灵魂，只当灵魂成为生命的重生，只当生命成为灵魂的代言。

有怎样的灵魂便会有怎样的孤独，同样，有怎样的孤独就会造就怎样的灵魂。

孤独的灵魂是白色的，喜爱她的人会在那里与之朝夕相伴，并借一份坚韧不拔绘就一幅五彩斑斓的世界，厌恶逃避她的人只会而且只能是在那里涂抹一笔黑黑的颜色，在透不进一丝光芒的窗口再垒上一堵厚厚的高墙，以至于将一颗洁白的灵魂惨死于暗无天日之中。

孤独的灵魂是血色的，她如旭日之朝霞，如晚秋之落红，在一片灿烂的霞光中静静涅，或于晚秋之暮后强敌于四面楚歌，这是一种绵绵不绝的孤独之绝唱，也是一颗不灭的灵魂寻找生命重生之起点。这样孤独的灵魂如梵高，如尼采，如莎乐美，孤独地走在雪白的世界里，任凭风雪扫地，雨露迎霜，纵然生命已逝，灵魂却依然光彩于世。

我们谁都可以成为孤独的肩负者，但不是谁都可以最终成为灵魂的守望者。惟有将孤独惨淡经营，谁才有可能为灵魂守望终生，惟有将生命做一次又一次畅快淋漓的绽放，谁才有可能在孤独中树立起一座孤独的丰碑。这是孤独的意义，也是灵魂不灭的价值。

当枯燥乏味的日子机械般地重复着我们日复一日的状态，我们谁都无法逃避一种这样的孤独，当孤独以“野火烧不尽，春风吹又生”之势吞噬着我们朝来晚去的信念与步伐，你可听得，谁的灵魂里依然有一泓汨汨的山泉如江河横流奔腾万里，为不负心中那一脉滚烫的血液?

只因为灵魂是生命的，所以，注定着我们的孤独，当孤独最终使生命成为一种本真，从而最终确定着永恒的灵魂。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-29</string>
		<key>title</key>
		<string>迷信与科学</string>
		<key>content</key>
		<string>把迷信说成科学是最害人的了，比如一些“大法”之类的就是这样，还有一些“专家”利用科学之名推销迷信，这些不是本文的话题，不多说了。

如果说用迷信推销科学，可能谁也不信，其实在我国的民俗中有不少作法被定为迷信，细分析起来这些作法还是有科学性的。

死人出殡，说道很多，有的作法纯属于迷信，比如烧纸人等，有的作法却不一定是迷信，比如送葬的人走时用一些白酒洗手。

这样做，用迷信的说法是为了洗去秽气，以免阴魂附体。从另外的角度看，这样做还是有一定的科学性。

古时候死的人大多数是传染病，而又以肠道传染病居多。用白酒洗洗手，的确能杀死一些致病菌切断了传播途径，避免再传播他人。

那时候人们看不到细菌，只能用灵魂一类来解释。这样流传下来，科学的色彩没了，迷信的气氛多了。

同样道理，焚烧死者的衣物也是一例。“非典”时候的死者就是这样处理的，当然防护的更加严格、烧的也更彻底。

当时也许人们讲不出这么多的科学道理，只知道这么做可以不得病。

没法解释，就用魂魄一类假说，人们也就相信了，也就这么做了。

现在的人们不相信了，就从国外进口死人的衣服，结果很多人因此染病。这就是科学有时不如迷信管用的例子。

烧香也是被认为是迷信的一种，其实上等的香料中含有杀菌物质，能够杀死空气中的杂菌。致病菌的生命力一般都比杂菌弱，很容易被香料中的杀菌物质杀死。

香料中的杀菌物质还能杀死一些昆虫、蚁类，所以寺庙的木质很少被虫蚀，木质保存的时间长。

也就是说经常烧香可以少得呼吸道传染病，也可以延长木质房屋、家具的寿命。

当然了，制造这种香的原料得是高级的檀香，一般草料做的香是没有这样的功能的，只不过增加对环境的污染。

还有很多例子，就不一一例举了，我要说的是如何正确对待民俗。

中国人都推崇中庸之道，其实做事、办事最不中庸，不是左就是右，对待民俗就是一例，要么推崇备致，要么就是随意给扣上一顶“封建迷信”的大帽子，一棒子打倒。

我们又信辩证唯物主义，可是又很少辩证的看待一切事物，主观性太强，往往是用主观主义，代替辩证唯物主义，违反了民意地决定一切，违反科学地包办一切，最后总结经验，再用经验主义去对待新生事物，再犯错误，就这样总在人治的怪圈中徘徊，历史淘汰一批，又出现一批，真是前赴后继。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-30</string>
		<key>title</key>
		<string>浅谈哲理</string>
		<key>content</key>
		<string>什么是哲理?哲理是一种以哲学方式思考而得出的道理。

为什么要谈哲理?因为我看见了哲学栏里许多无病呻吟的鸡汤类文章，那些文章就像是包裹着美味糖果外壳的毒药，不仅毫无营养，而且还有害。很多读者是不知道真正的哲理是什么的，所以这篇文章能够更好地帮助读者筛选有价值的文章。

哲学方式是什么呢?这是一个最基础也是最核心的问题。哲学是一门追求事实，寻求真理的学科。所有论断都是基于“真”这个字上，所以不能用太过主观的视角去探讨。想要做到完全的客观基本是不存在的，不过在写文章的时候起码不能用自己那些低俗、没有价值的思想来冒充真理吧。

其实我对哲理文章是有容忍度的，无奈有些人发表的文章完全是无病呻吟，看着着实来气。一天到晚的说着什么大道理，给自己日常来碗鸡汤。这些垃圾文章的一大特点就是——顿悟!就像是一个麻木不仁的和尚，有一天突然看到了佛祖，然后一下就看尽了人生百态，立地成佛了。

其实这些顿悟是一种假象，不过是当时心灵的空虚，潜意识制造出的一种错误的判断。然而有些人却将其奉为了真理。

大多鸡汤类文章的特点有这样的特点，文章写作顺序：首先迷茫，陷入思考;逐渐清晰，摸到线索;大彻大悟，得出结论!最重要的一点：无病呻吟，毫无意义!

望广大读者擦亮眼睛，拒绝鸡汤类文章。那是精神上的鸦片，接触愈多，毒害愈深;短暂的充实，恒久的危害。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-31</string>
		<key>title</key>
		<string>规则论——给你对与错的答案</string>
		<key>content</key>
		<string>什么是正确的?规则之内的事或物，符合规则就是正确的。此处的“规则”不同于一般意义上规则，规则只是一种定义，一种用于描述这种无形但是渗透于万事万物中的定律或者说是力量。

规则是可以划分等级的，茫茫宇宙中，有无穷无尽的规则。高级规则对于低级规则是有时是包含关系，有时是相等关系。实际上低级规则与高级规则之间是一种集合与集合之间的关系，并且最高规则包含一切子规则，无论低级或是高级规则。

如果没有规则，就会出现“我不是我”的情况。庄周曾经梦到自己变成了蝴蝶，翩翩飞舞，好不逍遥自在。醒来后才发现这不过是一场梦，不过他不能确定这是一场梦。因为他不知道是他做梦变成了蝴蝶，还是蝴蝶做梦变成了他。然而，在规则之下，一切就是确定了的，庄周就是庄周，他从未变成过蝴蝶，蝴蝶也从未梦见过他，实际就只是他做了一场梦而已。

讨论对于错，讨论黑与白，甚至于讨论最简单的数字一到底是不是一，红色是不是红色，都必须在一个明确的规则之下才可以确定。如果没有规则的情况下，一切都会充满不确定性，一可以是五，黑色可以是白色，那么一切将会无比混乱。理查德·罗蒂认为，真理是由社会和历史建构的，并主张，真理来自就公共论断达成的同意。这句话是没有错的，但是社会和历史的发展，皆是因为规则的影响才形成的，真理本身来源于规则。且不说是规则，换成立场来说，立场不同，看到的同一件事是不尽相同的。

这个规则与传统规则是有相似之处的。正如玩一个游戏，例如捉迷藏。游戏规则是抓人的那个人必须蒙着眼睛，其他人找地方藏着不准移动。如果抓人者把眼罩摘掉，即是抓着人也算是输，因为他违反了规则。但是如果说改一下规则，抓人者只需要抓着人就算赢，没有任何附加条件，那么抓人者把眼罩摘掉抓着人也算是赢了。

正如游戏一般，规则之下，输和赢是确定的。并且规则是不能违反的。规则和一些小说中的领域之力类似，在领域之内，我叫他人活他就不会死，我要让世界灭，世界就得灭。只要是在规则之类的人或事，是不能违逆规则的，否则会自尝恶果。正如社会中，官不报国，子不养父母，民不守法，人不厚德，必被指责会不忠不孝，不仁不义之辈。如果说，有一个人或一个事使社会发生了改变，说人独善其身足矣，其余皆为虚妄。并且人们认同这样的说法，那么规则就以发生改变，人们再也不会指责上面那般的情境。

但是即是自己生存于规则之下，规则也并非一定要遵守的。因为正如捉迷藏，如果悄悄地取下眼罩，在不让人知晓的情况下，即是违反了规则，自己一样会赢得胜利。社会中违反规则的人不在少数，但是很多人是没有被制裁的，依然逍遥法外。规则可以不遵守，不过不是去打破，而是避让，寻找规则的漏洞，随心所欲。

生存的最高境界，乃是制定规则，就如同形成自己的领域一般。规则之内，吾即至高无上，我说黑是白，就没谁可以反驳黑就是黑。我说错是对，那就对了。中国古代的皇帝就颇有一番这样的风采，天子一怒，伏尸百万，流血千里，这是极好的。不过就算这样，天子也不是完全拥有规则，因为他的规则和其他一些高级规则会产生冲突，所以没有永世承袭的皇位。现代依然如此，一些有势者利用社会漏洞以及自己的势力，暗中施行自己规则，操纵诸多事件，大肆敛财。

讲如此篇幅，诸多为社会之事。其实这些乃是小儿科，这些规则在宇宙中仅为最低级最下乘的规则。不过，既然生于社会，那些高级之事便无需顾及了，自有高人高论。

规则至上，不过无论最高规则怎样，不在吾研究范围之内。一切束缚与吾无关，吾即规则，天命之子。

物之极尽，乃为本质;心之所念，即为真理!</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-32</string>
		<key>title</key>
		<string>大话西游日记</string>
		<key>content</key>
		<string>今天是俺老猪成为一头猪以来最伤心的一天。因为今天高老庄的村花高翠兰要跟俺老猪彻底地分手。募然回首，才发现俺老猪 不 过是一条被高翠兰和他爹高血压利用的桥。高翠兰和高血压过河后就把桥拆掉。

这些年俺老猪为高翠兰家的实体经济做的贡献还少吗？没有俺老猪，高翠兰一家保八就是一句空话。

为了让俺老猪离开，高血压从广西北海请了两个传销组织的头目来给俺老猪洗脑……那两个传销老，一个叫唐三脏，长得蟑头鼠脑，十分猥琐。他拿着个大号拨浪鼓，总爱重复着一句话：“对不起，我说话一向简洁。”。另外一个传销老叫孙悟空，扛着一根哭丧棒，动不动就打啊杀的，超没有教养。

传销老说俺老猪就是他们要找的人。

“加入我们吧。”唐三脏对俺说，“现在国家正在搞西部大开发，政策放的很开。你了解美国吧？美国老现在为什么这么牛？因为美国历史上有个西进运动，当时美国西部大部分是荒无人烟的地方。政府号召鼓励人们到西部搞经济开发。开始的时候很多人认为西部根本不可能开发。他们对那些敢于第一个吃螃蟹的人嗤之以鼻。可事实呢？事后美国西部发达的经济证明那些担任先头部队的勇士们是无比英明的。我们国家的西部大开发相当于美国当年的西进运动……”

“死秃驴，别象苍蝇一样说个没完，让俺老猪静一静平复一下心情行不行？”

高翠兰从屋里走出来，将一个花布包袱扔在俺老猪面前。包袱掉在地上滚出一个红薯和一颗瓜子。

“猪当刀，这是你的行李。带上你的东西滚你祖宗八十代的蛋。”

俺老猪激动的跳起来，朝高翠兰大叫道：“高翠兰俺老猪在你家辛辛苦苦干了七八年，每年对GDP的贡献都在百分之七十以上。难道俺老猪的行李就只有一个红薯和一颗瓜子吗？”

“猪当刀你那个用稻草和女人内衣 卫生巾做的的猪窝我一把火烧了。”高翠兰转身走进门里。

猪窝中藏着俺老猪五百年来辛苦积攒的二十万元。俺老猪正要破口大骂，观音姐姐踏着五彩的云霞来了。

五百年不见，观音姐姐的身材还是和以前一样，不知她是怎么保养的。

“悟能，不要动怒。唐三脏就是以前我要你等的人。跟他走吧。到了西天成了正果后你就能重新回到天上官复原职，貌回原样。”

“能不能回到天上官复原职，貌回原样俺老猪无所谓。俺老猪只问你一句，成正果后俺老猪能不能和嫦蛾在一起？”

“天机不可泄露。”

“每次遇到不懂的问题你就用这句话回答。做人不能诚实一点吗？”

“天篷元帅你 去不去？不去的话我另外找人，想干这份工作的妖怪多着呢。因为干完这分工作他们就不是妖怪了，是神仙。”观音说。

“这是关系到俺老猪一生的大事。俺老猪好好想想再给你答复。”

“让你思考两天。最后期限前打电话给我。”

观音走后不到一秒俺老猪做出了决定，先走五十米试试。

西游元年 三月五日 天气 晴

回到福陵山上的云栈洞，已经是黄昏。洞里的一切家当都在，只是铺上了厚厚的灰尘。

各件家当的位置和俺老猪离开时一模一样。解放牌电视机已经坏了，明天把这台老掉牙的电视机拿去修一下。为什么要修这老掉牙的电视，因为这是俺老猪被贬下凡后拥有的第一样家用电器。修电视机要钱，只有把沙发卖掉。如果卖沙发的钱不够，就在山上砍一捆柴挑到山下卖。

俺老猪把锅洗干净，从包袱里拿出红薯放到锅里煮。看到红薯，俺老猪忍不住哭了。想想就辛酸，俺老猪在高翠兰家辛辛苦苦干了七八年，每年对GDP的贡献都在百分之七十以上。最后财产却只有一个红薯和一颗瓜子。更辛酸的是，那个设在高翠兰床上的藏着俺老猪五百年来辛苦积攒的二十万元的猪窝被高翠兰一把火烧了。

高翠兰那娘们她好毒她好毒她好毒她好毒毒毒毒毒。

算了，过去的就让它过去吧。俺老猪的肚子已经饿的叫了起来。当下要紧的是把红薯煮熟，美美地吃一顿，再美美地睡一觉。俺老猪在灶膛里加了一大把柴，然后搞卫生。，抹饭桌的时候俺发现上面放着一封信。信封被厚厚的灰尘覆盖着，否则俺老猪进门的时候就会看到。

信里总共一百零四个字：天蓬，当你看到这封信的时候，我已经在另一个世界了。和你分手后我去广西北海市合浦县石场当装卸工。每个月的工资我舍不得花，存银行了。给你留着。银行卡放在我们藏钱的地方，密码是我的三围。省着点花。记得，不管遇到什么，一定要开心哦。下辈子还爱你的卵二姐。

看完信后，俺老猪的心情立刻一溃千里。原来卵二姐曾经回来过。

卵二姐原来是这个山洞的主人，因为长的不是一般的丑陋，卵二姐五岁时被赶出了家门。在无数的地方流浪过后她来到这里安家。俺老猪被贬下凡正好掉在她家门口，她收容了俺老猪。为了找钱给俺老猪治伤，她砍山上的柴去卖，还去偷过，抢过，当过乞丐当过骗子，当过苦力。

在一个很冷的冬天的很黑的晚上，卵二姐做了一件让俺老猪无法面对常娥的事情。那以后我们就在一张床上睡了。她拼命地挣钱，说攒够钱后去整容，脸蛋要整成张曼玉，胸部要整成宋小英，腰部要整成范冰冰，臀部要整成巩不利，大腿要整成林志玲。她说整容后要俺老猪西装革履开着奔驰来接她到教堂举行一个盛大的婚礼。

后来俺老猪在山下救下高翠兰改变了很多东西，主要是改变了卵二姐的理想。

俺老猪愧对二姐。如果——算了，人生没有如果。

人之于世，生命匆匆，也许很多东西都不必细较了吧，明天就西去躲开这纷扰的一切。

《西游降魔日记》投稿。本书包含《八戒日记》、《唐僧日记》、《沙僧日记》共十六万字，已经完稿。风格是无厘头黑色幽默搞笑。行文白话化是为了增加爆笑效果。搞笑创意绝对原创。相信推出后一定受很多有大话西游情结的青少年喜欢。如果配上漫画效果就更好了。先发其中一些 ，其余文章风格和这些一致。该书不是那些故作高深，让人们束之高阁的书，其功能是娱乐大众让人们放松心情。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-33</string>
		<key>title</key>
		<string>据说此笑话深受女士的喜爱</string>
		<key>content</key>
		<string>　一个男人厌倦了他每天出门工作而他的老婆却整天呆在家里。他希望老婆能明白他每天是如何在外打拼的。于是他祷告祈求：全能的主啊，我每天在外工作整整八小时，而我的老婆却仅仅是呆在屋里，我要让她知道我，我是怎么过的，求你让我和她的躯体调换一天吧！阿门。无限智慧的主满足了他的愿望。

　　第二天一早，他醒来，当然，是作为一个女人。他起床为他的另一半准备早点，叫醒孩子们，为他们穿上校服，喂早餐，装好他们的午餐，然后开车送他们去学校，回到家，他挑出需要干洗的衣物，送到干洗店，回来的路上还顺路去了银行，然后去超市采购，回到家，放下东西，要缴清帐单、结算支票本。

　　当他打扫了猫盒，给狗洗完澡，已经是下午一点了。他匆忙地整理床铺，洗衣服，给地毯吸尘，除尘，清扫，擦洗厨房的地板。他冲往学校去接孩子们，回来的路上还同他们争论了一番。他准备好点心和牛奶，督促孩子们做功课，然后架起烫衣板，一边忙着一边看会电视。

　　四点半的时候，他开始削土豆，清洗蔬菜做沙拉，给猪排沾上面包屑，剥开那些新鲜的豆子，准备晚餐。吃完晚饭，他开始收拾厨房，打开洗碗机，叠好洗干净的衣物，给孩子们洗澡，送他们上床。

　　晚上九点，他已经撑不住了，然而，他的每日例行工作还没结束。他爬上床，在那里还有人期待着他，他必须，而且不能有任何抱怨。

　　第二天一早，他一醒来就跪在床边，向主祈求：主啊，我真不知道自己是怎样想的，我怎么会傻到嫉妒我老婆能成天呆在家里？求你，哦！求求你，让我们换回来吧！

　　无限智慧的主，回答他：我的孩子，我想你已经吃到苦头了，我会很高兴让一切恢复原来的样子。但是。……

　　你不得不再等上九个月，昨晚，你怀孕了。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-34</string>
		<key>title</key>
		<string>那我先睡了哈</string>
		<key>content</key>
		<string>在电影院看电影，黑屏了就听到一个哥儿大声喊：动一下鼠标啊！

　　你穿的很危险，但是你长的很安全！

　　狐 狸 未 成 精 ，纯 属 骚 得 轻 。

　　小保姆嗓门特别大，主人叮嘱，今晚来的都是有身份的人，说话务必小声一点。吃完饭，主人客人玩牌，小保姆收拾完想早点休息，于是凑近男主人耳边轻声道：“那我先睡了哈。”

　　八爷，你没想到在300多年以后你会如此红吧。

　　生活就像忐忑，没有准确的歌词，却惊心动魄。

　　情人节上街雇几个小孩，见到男的就上去叫爸爸，能拆一对是一对

　　别老看AV。你也不看看键盘！字母A和V后面是什么 - -！

　　我也想做一个优雅的淑女、是生活把老娘逼成了泼妇。

　　玛丽太太因闯红灯上法庭。法官盯着她看，问：玛丽太太？是的。你以前在西区小学当老师？是的，你怎么知道？法官笑了，我曾是你的学生。玛丽太太也笑了，轻松起来。法官接着说，我等这一天等了20多年，现在罚你抄一千遍“我闯红灯错了，以后再也不犯了。”

　　老天我以后再也不叫你爷了 、因为你根本不爱我这个孙子

　　不要惹我，虽然我不会唱《忐忑》，但是我可以带着喇叭在你家门口放

　　今年的今天，又是一个人的情人节。不过，等我到光棍节的时候，看我怎么疯给你们这些没人性的情侣看！

　　曾经有大把时间摆在面前让我写作业，我笑了、没事。现在有大把作业摆在面前让我赶时间，我哭了、妈呀~~

　　小三你别得瑟，总会有个小四把你咔咔的

　　美 伢 总 是 希 望 小 新 能 长 大 、 但 观 众 不 允 许。

　　好男人代表,一号,灰太狼,二号,八爷。

　　我 坐 船 都 会 晕、怎 会 脚 踏 两 只 船 呢？

　　社会很单纯,复杂的是人.

　　寂寞对我说：我走了。然后就真的不见了。可我一转身又看见她在那里。我说，不是走了吗？她说，我不是走了是来了，刚才走的是姐姐。我是她妹妹，我名字叫孤独。

　　问：昨天情人节怎么过的？答：难过的

　　成功人士之四大金刚：高人指点、贵人相助、神人保佑、小人监督。

　　小时候发了疯的想自己快点长大，大了伤了都哭天喊地的要回去。

　　和喜欢的人在一起天天都是情人节</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-35</string>
		<key>title</key>
		<string>精悍小笑话</string>
		<key>content</key>
		<string>一辆卡车后面挂着一块显眼的大木牌，上面写着：本车已与其他车辆相撞20次，成绩为：17胜，2平，一次稍有损失。请来者多加小心！

　　商店里，一位顾客正在质问服务员：你这是什么态度？顾客是上帝，你不知道吗？服务员白他你一眼：顾客是上帝倒不假，可我不信基督。

　　护士准备给炊事员打针，炊事员回头一望，大惊：怎么针头那么大。护士：你给我打菜用小勺，我给你打针用大针，省得别人说我报复你。

　　医生问病人：你来这之前请教过什么人吗？病人回答：只问过拐角药房的老板。医生：那傻瓜给你出什么馊主意了？病人：他让我来找你。

　　“这房子缺点是东面是垃圾厂，西面是化肥厂。南面有粪池，北面有猪圈。”“优点呢？”“你随时能断定今天刮什么风。”

　　某人上餐厅用餐，吃了一口就很不高兴的找服务生来，说：“菜怎么这么难吃？叫你们经理来！”服务生：“经理到对面餐厅吃午饭了。”

　　威尔逊开摩托车撞倒了一个行人，他安慰这个愤怒的人说：“先生，你真幸运，今天凑巧我休息，平时我可开的是大卡车呢！”

　　一位姑娘刚得到男友的订婚戒指，但竟没人注意。下午大家坐着谈天的时候，她突然站起来大声说：“这里真热，我还是把戒指脱下来吧。”

　　飞机飞过精神病院时驾驶员大笑起来，空中小姐问他为什么笑得那么开心，驾驶员：“要是他们知道我逃出来的话，一定会被气疯的！”

　　一国足参加球赛，只见一记凌空抽射，守门员还没反应过来，球进了！观众鼓掌欢呼，此人爬起来拍拍屁股说：妈的，地太滑了！

　　一对恋人在看电视！男的突发感慨：“多亏爱迪生发明了灯泡，要不咱们现在要点着蜡烛看电视了！”

　　老伙计丢车，把新买的车放在楼下时他上了三把锁并夹了一张纸：让你丫偷！第二天车没丢，并且多了两把锁和一张纸，上写着：让你丫骑！

　　男孩终于鼓起勇气问心爱的女孩：“喜欢什么样的男孩？”，“投缘的”，再问答案还是一样，男孩伤心地哭了：“头扁一点不行吗？”

　　叔叔：“你懂音乐吗？”约翰：“当然懂。”叔叔：“你说，那个姑娘现在弹的是什么？”约翰：“钢琴。”

　　老师问小明；你考试没有考好的话，你父母怎么惩罚你？小明：80分以下女子单打，70分以下男子单打，60分以下男女混合双打。

　　上联：风在刮雨在下我在等你回电话，下联：为你生为你死为你守候一辈子，横批：说着玩的。

　　太太找衣，她套了一件久未穿的裙子，照着镜子：哎呀！好象包粽子一样！先生：那是馅儿的问题，跟包的叶子无关。

　　“听说昨天你和老婆吵架了，怎么收场的？”“是她跪下求我！”“不会吧？”“她说：‘我不打你了，快从床底下出来吧！’”

　　父问：你将来娶谁做老婆？儿说：奶奶最疼我，我要娶奶奶做老婆。父说：胡说！我妈怎么可以做你老婆？儿说：那我妈怎么做了你老婆？

　　儿子被爸爸修理了，他跑去找妈妈诉苦：“妈妈，有人打你儿子你会怎样？”妈妈：“我会打他的儿子报仇！”仔仔：“……”

　　护士：你要写给谁阿？病人：写给我自己啊！护士：那你都写些什么阿？病人：你神精病阿！我还没收到怎么知道？

　　一小孩老是哭着跟在孕妇后面，孕妇终于不耐烦了，转过身问：“孩子，你怎么啦？”“大婶，”孩子抽泣着：“我气球不见了。是不是你把它藏肚子里了？”

　　某学生回家对其父说：老师夸赞我的作文通顺。父亲问：为什么？子答：前次老师说我的作文“狗屁不通”，这次老师说我的作文“放狗屁”。

　　某男入厕便秘，忽见一人飞奔而入，顷刻风雨交加。“哥们儿，真羡慕你呀，那么快。”“羡慕啥，没脱裤子呢”

　　果农发现一小孩在偷苹果：小捣蛋，你等着，我要去告诉你爸爸！男孩抬头向树上喊道：爸，下面有人找你。

　　一青年做事总是毛手毛脚，所以老是失业。这一次，他又找到一份工作，是替一家古董店干活。才上班的第一天，他就不小必把店里的一只较昂贵的玻璃瓶给摔碎了。老板很生气：“这只瓶子的价钱我会在你每个月的工资内扣。”这青年一听，松了口气说：“谢天谢地，我终于找到了一份比较长的工作。”

　　公共汽车上老太太怕坐过站逢站必问。汽车到一站，她一个劲的用雨伞捅司机，问：这是展览中心吗？司机：不是，这里是我的肋骨！

　　熊猫深爱著小鹿，表达爱意时却遭到拒绝。熊猫大吼～为什麼？这一切都是为什麼？小鹿胆怯地说：我妈说了，戴墨镜的都是不良少年。

　　饿狼觅食，听见有家人在训孩子：“再哭就把你扔出去喂狼！”可是，孩子哭了一夜……第二天早晨，狼长叹一声：“哎……人类说话不算数！”

　　某天考生物，其中有一题是看鸟的腿猜出鸟的名字。某生实在不懂，生气的把卷子一撕准备离开考场。监考老师很生气于是问他：“你是哪班的，叫什么名字？”某生把裤腿一掀，说：“你猜啊你猜啊。”

　　某君正练习骑自行车，前面来了一个行人，某君惊慌，大叫：&quot;站住！站住！&quot;行人一楞急忙停下。怎奈某君骑术太差还是把行人撞倒。行人起身大怒：&quot;你还叫我站住！你好瞄准是不是！&quot;

　　吝啬鬼有事外出，怕别人偷喝他刚买的酒，于是在纸上写了：我在杯里吐了一口痰。一会儿他回来，发现纸条上多了几个字：我也吐了一口！

　　女老师是父亲的老同学，儿子问父亲：“老师今天说我有其父必有其子，是什么意思？”，父亲气愤地骂儿子：你今天对老师耍流氓了？

　　丈夫吃惊地问：“你给乞丐那么多钱干什么？他是假瞎！”妻子：“可他对我说，多美丽善良的小姐！”丈夫：“看来他还真是个瞎子。”

　　妈妈问小明：“如果爸爸妈妈吵架了，你会站在哪一边？”小明想了想，说：“站旁边。”

　　祖母和孙女在诊室里。“解开衣服。”医生对漂亮的姑娘说。“不，大夫，”老太太说，“我才是病人”。“是吗？那么伸出舌头”。

　　有个人去化验科，护士指着前方一牌说：“非本科人员不得入内！”那人大怒，骂道：“我就化验个尿，还TMD要本科文凭！”

　　某口吃者监考，发现一学生偷看，气急败坏地吼道：你…你…你…你…你竟敢作弊，给我站起来！五个学生站了起来……

　　教务主任走进来说：帮我找两个人，我要班花。于是班长就组织全班投票评选出两名班花去找主任，主任说：跟我去教务处，我要搬花。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-36</string>
		<key>title</key>
		<string>爆笑笑话能笑死人的段子100条</string>
		<key>content</key>
		<string>1、	3位漂亮小姐围着一名年轻士兵，听他讲作战受伤经过。敌人把我们包围了，迫际炮对着我们的工事猛轰，一块弹片正中我的的肩膀。4、	有两女人甲，乙！乙长的很NO~ 
有一天甲看到乙愁眉苦脸就问：你怎么了？昨天还看见你是个快乐的女人！今天怎么……？ 
乙说：唉！我和他分手了！说完便走了！ 
甲说：哦！那今天那个男的就是个幸福的男人！
5、	某某某我昨天梦到你，（这时他说你梦到我什么拉），我说我梦到你拿着一把菜刀在大街上追一只猪。这时住跑到了一个死胡同里，它跪下来说，（他说快说，说什么啊）它说本是同根生相煎何太急。

6、	以前没有上班的时候，看到开宝马的，一脸鄙视骂骂咧咧的说：“牛B什么，早晚有一天，老子比你牛B“；上班了以后，看到开宝马的，一脸羡慕：“真牛B，我什么时候能这么牛B？”

7、	本人非常喜欢看笑话，更喜欢把有意思的笑话讲给别人听，有欢乐大家一起分享嘛！ 
上周五午休时，我又兴高采烈地把一个自认为非常搞笑的笑话讲给同事们听，大家开开心心地笑了一回，尤其是小宋，更是笑得直不起腰。
我很是得意，凭咱的表达、渲染能力，比那李金斗也差不了多少，不愧为名副其实的办公室笑星。
小宋笑够了，过来拍拍我的肩膀，说：嫣子，够交情才告诉你真相，你每次讲笑话我们都哈哈大笑，其实并不是因为你笑话讲得好，而是你每次讲的时候，都手舞足蹈、语无伦次，激动得不行，根本听不清你讲的是什么，但你的样子很可爱，比笑话更逗，真是太好玩儿了！哈哈哈……
......

8、	今天上班时路过一家鲜花店，无意中看到橱窗里贴着一则广告：因情人节期间玫瑰需求量大，本店决定情人节当天的玫瑰涨至3050元／枝，但提前预订的顾客仍按5元／枝结算，欢迎预订。
到了办公室，跟美女同事张丽聊起了这事。我开玩笑说：你看看，情人节玫瑰涨得多厉害，还不让你男朋友提前给你预订几枝啊？
张丽叹了口气，幽幽地说：唉！他呀，就一书呆子，一点情调也没有，我可从没指望他给我送花。
我知道张丽说得不假，她男朋友在工商局上班，搞网络的，各方面条件都不错，就是有点书生气。我劝张丽：这情调全靠培养，你就趁这个机会点拨点拨他，该浪漫就浪漫一回吧。
......

9、 上个月中旬，在单位吃午饭时，电视台正在播一个关于美国总统布什的专题片，主持人介绍：除了布什总统能自由地穿行白宫之外，还有一个也能……这时，同事小健起哄：这有什么，我也能，另外一个就是我！但是，主持人不受他的干扰，接着说道：那就是巴尼布什总统的小狗。
10、	刚来了个姑娘，情绪低落，说自己经常被人嘲笑长得胖，觉得生活没意义。我说，生活难免磕磕绊绊，面对嘲讽与挫折，别沮丧，活出精彩才是对嘲讽最好的还击，蹲下来，给自己一个拥抱。她点点头，擦干泪，试了一下，没蹲下去

11、	回家的路上，我开着60码的车速，后面的车一直想超车，还不停的打喇叭，没办法，我打开车窗把给表弟买的玩具枪朝后面指了指，那车直接一个刹车，停住了，哈哈，真好笑。。。。。。好了，不说了，该录口供了。

12、	海明:“我要的拉面怎么还不上？等了半天了！”伙计：“别急别急，师傅正在拉呢！”说着大师傅端着热面来了，极热情的说：“这是我刚才拉的！还冒热气呢！请吃请吃！”

13、	有一次，我去海尔集团面试，考官问我：“为什么海尔兄弟只穿内裤？”
我的答案把他们全怔住了，我答：“因为他们没有Q币”。

14、	春运时火车非常拥挤，某君趁停车时将屁股伸出窗外大便。车下的巡检员发现大喊：叼雪茄的胖子，把头缩回去。

15、	&quot;普通青年： 爱一个人好难。 高富帅： 爱&quot;&quot;一个人&quot;&quot;好难。 屌丝： 爱一个&quot;&quot;人&quot;&quot;好难。 基友：爱一个人好“男”。&quot;

16、	我从不抽烟，不喝酒，不乱跟女孩打情骂俏……我也是一个生活习惯好的男人，我晚上9点准时上床睡觉，早上6点准时起床，我性格好，文静，随和，非常听话。 ……十年后，一切都变了，因为我终于出狱了！

17、	杨过和小龙女隐居在山林，一天杨过穿着刚洗过的衣服对小龙女说：“衣服洗得好干净啊！ ”小龙女说：“是啊，还不伤手。”过了一会杨过突然问小龙女：“我的雕呢？”

18、 那天我说你是猪，你说我是猪才怪，从此我就叫你猪才怪，后来你终于受不了了，在很多人面前对我大喊我不是猪才怪！
19、	你偶遇，慌乱的我不知所措。你含情脉脉的双眸，我无法回避。我明白你的心。我拼命跑开你却紧紧相随。我哭喊着：谁家的猪饿成这样？

20、 一个寡妇要把亡夫的一帧遗照拿去放大，她走进照相馆，对老板说：我要放大这张相片，不过当你放大的时候，我希望你能顺便把他戴的那顶讨厌的帽子去掉。
好的，太太。照相馆老板说，不过请你告诉我，他的头发是朝哪一边分呢？
这个我倒不太记得了，寡妇回答，可是反正你拿掉他的帽子一看不就知道了。
21、	&quot; 陈工要出门，因为下雨，找不到雨桑他想：这多半是忘记在李槐家里。
他便写了封信给李愧。他把信刚写完，忽然他妻子撑了他的伞回家了。陈工见了，便在信后添道：伞巳找到，特此奉告，不必再寻了。 
写毕，就撑了伞出去，把信付邮。 又歪了,这怎么进得去,出来出来,再来一次,你太紧张了!放松,看屁股!靠左点!对!慢点!好!进来了进来了!再进来一点!OKOK!好!停车费2元……!
&quot;

22、	&quot;有一个人,他的儿子和老子都是状元,他什么也不是. 
有一天,他和儿子吵架,说我老子是状元你老子是什么? 
儿子木瞪口呆. 
有一天,他和老子吵架,说我儿子是状元你儿子是什么? 
老子也木瞪口呆&quot;

23、	一个人骑摩托车喜欢衣服反着穿，可以挡风。
一天他酒后驾驶，翻了，一头栽在路旁。
**赶到：**甲：好严重的车祸。
**乙：是啊，脑袋都撞到后面去了。
**甲：嗯，还有呼吸，我们帮他把头转回来吧
**乙：好... 1、2使劲，转回来了。
**甲：嗯？没有呼吸...

24、	宿舍楼梯口挂着一块黑板，写着：优惠期间，小卖部买一送一。 
两天后，多了一行字：小卖部在哪儿？ 
一天后，又多了一行字：洗衣房旁。 
一天后，又多了一行字：洗衣房在哪？ 
再次看到时，又多了：小卖部旁。
25、	一个家伙把头探进理发店问道：“还有多久可以给我理发？”
理发师环顾了一下店内的顾客说：“大约2个小时。”
这个家伙离开了。过了几天，这个家伙，又把头探进店内问了同样的问题，理发师说：“大约2个小时。”这个家伙又离开了。
过了一个周，这个家伙又来了，还是同样的问题，这次的答复是1个半小时，这个家伙又走了。理发师很是纳闷，对他的朋友Bill说：“跟着这个家伙，看他到哪里去了。”一会儿，Bill笑的歇斯底里地回来了，说：“那家伙到你家去了！” 老杨是经理，因贪污受贿被捕。他的下属对外界解释道：我们的总经理呀可有能耐了！他在位的时候，吃的是高级饭店，住的是高级宾馆，玩的是高级舞厅。哎，现在出事了哎进的也是高级法院啊，真牛！
26、	两匹马站在高速公路旁看着来往的汽车，发现驾驶员身上都系着带子。
一匹马对另一匹马说：“我知道人们为什么不需要我们了，现在，他们自己拉车了。”

27、	包大人到案发现场，勘察良久，没有发现丝毫线索，心想不能这么丢人啊，这可如何是好……
踌躇良久，忽然包大人眼睛一亮，缓缓地转过身来问道：“元芳，你怎么看？”

28、	唐僧收了三个徒弟一同前往西天取经，他问孙悟空：“你为什么要跟我去取经？”
孙悟空说：“我用金箍棒不慎把人打死了，官府在追捕，我想跟你去外面躲避几年，你看我把作案工具——金箍棒带来了。”
他问猪八戒：“你为什么要跟我去取经？”
猪八戒说：“我开荒烧杂草不慎烧了大片森林，官府要抓我呀，我想西行逃难，你看我肩上荷着的是开荒用的九齿钉耙。”
唐僧问沙和尚：“你是不是也犯了法呀？”
......

29、	“包大人啊！您快笑一下啊！这乌漆吗黑的晚上我们怎么找您啊!”
“展护卫还是别费心了，包大人他刚吃了包奥利奥。”

30、	曾经有一个武功迷，无意之间捡到了一本只有四页的葵花宝典，这个人很高兴，打看了第一页，上面写着欲练此功必先自宫，这个人把很痛苦的把自己给废了，打开了第二页上面写着，不必自宫也能成功，这个人很后悔，慢慢的打开了第三页，上面写着：不必自宫为必能成功，这个人又是很高兴，庆幸自己把自己给废了高兴的打开了第四页；上面写着｛本故事纯属虚构｝
31、	再一个河塘边，一个旅游者问一个村民：这个河里能洗澡么？村民说：不能，因为这里有鄂鱼。旅游者很吃惊的问：那河的下游呢？村民看了看旅游者说：当然可以了，因为这的鄂鱼怕那的鲨鱼。

32、 某甲埋头下棋，有人来告诉他说：府上有要紧事，你快回去看看。说了几遍，他才不耐烦地抬头问道：什么事？快说吧！ 你的小儿子得了急病，让你去请个大夫…… 话还没说完，某甲连忙摆手，没好气他说：得了，你不见我正在生死关头吗？兵临城下，我这里自身难保，还能顾得别人吗？

33、	一位挨家挨户推销吸尘器的推销员来到一座新楼房的第一家。他敲门，一位很有耐性的女士来开门。还没等她有机会开口说话，他就跑进屋内，把自己带的一桶牛粪倒在地毯上。
他说：“夫人，如果这台吸尘器不能出现奇迹把这些牛粪吸干净的话，我把它们吃得干干净净。”
她转身面对着他，得意洋洋地说：“你要在它们上面加一些番茄酱吗？”
推销员不解地问：“你为什么问这个呢？”
她说：“我们刚刚搬进来，电还不通呢。”

34、	美国人训练了一个超级特工潜伏俄罗斯，地道的俄语发音，地道的俄式穿着和思维方式，连狐臭和酒瘾都和俄国人一样。
特工在酒馆请人喝酒，别人问，你们美国人也喝伏特加？
特工大惊，不知道破绽在哪里。
此人说：我们俄罗斯没有黑人。

35、	某人举着一个小纸包对围着他的人群起劲地喊道：这是我家世世代代祖传的专毒老鼠的特效药。再猖狂、再厉害的老鼠，只要沾上一点我的老鼠药，立刻就会死去。听众问：请问这药怎么使用？这个人回答说：简单得很，只要把药抹一点在老鼠的嘴巴上就行了！
36、	A：电视里说明天局部有雨。B：幸好我没住在局部，我真的不爱雨(www.SiandiAn.com 闪点情话网) 。

37、	成功专家有日在演讲台上说：把每一天都当成生命末日般去努力，一定会成功的。听众：才不要，那天天说的话岂不都是遗言了呢！
38、	话说有一个傻媳妇要进城，公公不放心呀，于是叮嘱说：媳妇呀，上城买东西要记得砍价，那东西要价都高。你要记得往一半砍，知道吗？于是媳妇在一家服装店左挑右选，终于选好了一件衣服就问老板：多少钱呀？80。不，40。60卖你了！30！40还不行？？？20！得啦，我白送你一套算了。嘿嘿！想蒙我没那么容易，我要半套。
39、	我有个美国朋友是中国通，今天换了个QQ签名：you don‘t know love far high.
我猜可能他失恋了，觉得对方对爱的含义理解不够深。
问他到底什么意思，丫说：“法海你不懂爱。”

40、	吃饭时，一人说去方便一下
老外不解，旁人告诉他方便就是上厕所。
敬酒时，另一人对老外说，希望下次出国时能给予方便，老外纳闷不敢问。
酒席上，电视台美女主持人提出，在她方便的时候会安排老外做专访。
老外愕然：怎么能在你方便的时候？
美女主持人说，那在你方便时，我请你吃饭。老外晕倒！

41、 厂长：上头让我们明天出去买《四库全书》。 
秘书：我们就三个库，已经都占满了。
厂长：那就再腾出一间办公室吧。
42、 话说某山区一户人家刚装电视，一打开正好在播奥运会百米赛跑实况。老太太看得最专注，并不住地摇头。于是孙子问老太太看到了什么，老太太说：一个警察在抓一群小偷，小偷都牛高马大，有的还全身黑。警察让小偷们跪下，小偷们怕警察手里的枪，一个个都半蹲半跪。警察开枪了，小偷们吓得拼命跑，一个都没打着。路上拦了根绳子，想拦住小偷的，没用，小偷全冲过去了。边上许多人在看，也不知道帮着抓，只是急得大叫。 唉!
43、	深山沟里的老乡从未出过远门，根本就没有见过火车是什么样的？
听说不远的地方修了铁路，于是就专门赶去看火车。不看不知道，一看吓一跳：乖呀！这长（读chang音）个东西趴着那就跑这快，要是站起来了，那还得了哇！
44、	丽沙参加一个舞会，在舞厅里由于没有舞伴，只好干坐着。无聊极了，这时走来一个潇洒的男士，丽沙高兴极了。
那男子问道：“小姐，您要跳舞吗？”
丽沙连忙站起很有礼貌地说：“谢谢，要的。”
“好极了。”那男土说，“我可以坐坐你的椅子了。”

45、	杰克的房子失火，他眼睁睁看着消防员抢救温室没有成功。一名消防员试着安慰他说：“我们无法把那些植物移出来，不过我们还是帮它们浇水了。”

46、 甲：你在看什么？ 
乙：在看电视。 
甲：什么电视？ 
乙：彩色电视。 
甲：我问你电视名字。 
乙：××牌电视。
47、	某一天，我跟同学逛街，看到路边的自动柜员机。我对这东西的工作原理一直很迷惑，苦于没有机会让别人给我解释一把。那天我想机会来了，就问问我同学吧，于是开口问了：我说这个自动桂圆机里的桂圆，难道就不会坏吗？
48、 乡下老头听了无线电中的天气预报后，在那儿独个奇怪地叨叨：奇怪，为什么这个无线电会知道天气？老婆婆听见了说：这有什么，它的声音是从天上来，自然知道了。
49、	约翰平时很怕老婆。一次老婆回娘家，约翰在家很自在。
一天，约翰想出去转转，便找出那件很少穿的名贵礼服，对镜打扮好了。手伸进口袋，希望发现些零钱坐车，却发现有一纸条，上书：打扮这么整齐，想去哪儿啊？

50、	约翰：昨天我对乔治讲了一个笑话，他听了后牙齿都掉了。
吉姆：怎么？他牙都笑掉了？
约翰：不，他说那根本不是笑话。
吉姆：那怎么？
约翰：我打了他一拳。

51、	汤姆在酒吧里看到一容貌美丽、气质高雅的女子。犹豫之后，他鼓起勇气，低声问：我能和你谈谈吗？
女子高声叫了起来：不，我不和你睡觉！
酒吧的人都把目光盯在他俩身上，汤姆非常尴尬，红着脸退回自己的座位。
过一会儿，女子走到汤姆身边，低声道：对不起，我是心理系的学生，只想试验一下，人们在极度尴尬情况下，反映如何。
汤姆高声叫道：你要两百美元？太贵了！

52、	很久以前左罗与珠丽叶相爱了。一日，左罗深夜去与珠丽叶约会，悄悄爬上了阳台。珠：我家人来了怎么办？罗：没关系，我有一匹&quot;汗雪宝马&quot;我一吹口哨它就会在楼下等我的。这时，有人敲门，只见左罗一个响亮的口哨嗖的一声跳了下去。珠丽叶去开门止见敲门的是左罗的汗雪宝马它说：请转告左罗，外面下雨了，我在走廊里等他。
53、	朱哈洗好了一件衬衫，把它晾在绳子上，被一阵大风吹跑了。朱哈看见后自言自语地说：我们应当宰牲献祭。他老婆问：为什么呢？朱哈回答说：多亏真主保佑！要是我穿着这件衬衫的话，不是连我也要被刮跑啦！
54、 福尔摩斯与华生去郊游，到了晚上，他俩在郊外搭帐蓬。半夜里，福尔摩斯突然把华生推醒说：看到天上的星星，你想到了什么？华生说：这些天上的星星里，可能有的星星上面，有水、有生命……傻瓜，你没发现我们的帐蓬被偷了吗？
55、	小杰克今年5岁了，生性聪明。一天家里请客，父亲老杰克喝的正高兴时，无奈酒喝完了，于是老杰克顺手拿起一瓶未开的酒，递给在一旁玩耍的小杰克说：拿去厨房把它打开！
杰克的母亲忙说：他还小呢，还是让我去吧。
没事，他已经不小了，应该学做一些事情了。
于是小杰克拿起酒往厨房走去，只听一声酒瓶摔碎的声音，老杰克正欲起身看时，小杰克已经拿着摔坏的酒瓶进来了。
怎么会这样？
小杰克答到：我可是照你上次给我开糖果瓶的方法去做的。

56、	托蒂参加常识考试。
老师：告诉我一个爬行动物的名字。
托蒂：一条毒蛇。
老师：很好，请告诉我另一个爬行动物的名字。
托蒂：另一条毒蛇。

57、	有个人路过麦田，发现有头没有犄角的牛，便问农民，这头牛为什么没有犄角？
农民说：牛没有犄角的原因很多，有的因为遗传没有。有的是因为和别的牛顶角而失去了，有的是因病脱落了。而这头，他说：没有犄角，那是因为他是一头驴。
58、	有个人路过麦田，发现有头没有犄角的牛，便问农民，这头牛为什么没有犄角？
农民说：牛没有犄角的原因很多，有的因为遗传没有。有的是因为和别的牛顶角而失去了，有的是因病脱落了。而这头，他说：没有犄角，那是因为他是一头驴。
59、	听说一个精神病患者把另一个企图自杀的患者从浴缸中救了出来，精神病院院长审查了救人者的病历，并把他叫到了自己的办公室。哈罗德森先生，你的档案和英雄行为证明你可以回家了。惟一的遗憾是，你救的那人后来上吊自杀了。 噢，他不是自杀，哈罗德森先生说，是我把他吊起来想把他晾干。
60、 深山沟里的一个老乡要到十堰市走亲戚，从山沟里出来后就等在公路边上，想拦个顺路车搭。正好一辆拉满沙子的东风翻斗车过来了，老乡就向司机恳求把他捎到十堰去，司机为难的说：我车里已经坐了三个人了，你要搭便车就只能够坐到车厢上。 
于是老乡就爬上车厢坐在沙子上面。司机一边开车一边和驾驶室里的人说话聊天，等车开到了十堰卸沙的工地时，就直接将翻斗给升了起来。这时司机猛然想起车厢上还坐着一个老乡的事来，于是司机赶紧跑到车后，只见老乡一边费劲的从沙堆里往外爬，一边满脸歉意的向司机赔不是：对不起啊！师傅，我不小心把你的车给踩翻球了。 原来，老乡见车到十堰停了下来，就准备踩着车厢的栏板下车，正好这时车斗就翻起来了。
......

61、	美国宪法中规定禁止任何形式的歧视，包括性别、年龄、种族、宗教等等。一家公司有一个职位只想雇用男性员工，但又怕遭到妇运团体的控告，因此贴出这么一个征才广告：
征员工一名，条件是必须在上班时间打赤膊而不会影响到周围其他同仁的工作效率和情绪。

62、	一位典狱长，对着在一场失败的监狱暴动中的教唆者说：只要回答两个问题，我就不会太过于责罚你们！第一个问题：为什么你们要制造暴动？ 
一位罪犯回答说：典狱长，我们的暴动是因为这里的食物太糟了！！ 
好！第二，你们是利用什么打开门闩逃出牢房？ 
罪犯回答：吐司！

63、	小小姑娘清早起床，提起裤子上茅房。茅房有人敲不开门，就快拉出来。小小姑娘抬头张望，四处无人！就蹲在大路旁，刚刚蹲下对面来人，是位老大妈。大妈笑着向她走过来，跟着递过来一张纸，小小姑娘脸红忙说：不要了。谁知仔细一看罚款单100元！！！

64、	有个小偷去偷人家的东西，刚跳到这家人的院子里就被人发现了。吓的他也没有分辨一下就又跳进了那人家的猪圈里。那家的主人也发现了他，拿起了一个棒子，走到猪圈的跟前，就问小偷：你在这做什么呢？是不是想偷我的东西？快说。这下可把小偷吓坏了
小偷发着抖说：我没有啊！
主任又问：那你在这做什么呢？
小偷：我...我...我在给猪讲故事呢！！
哈哈………哈哈

65、 埃里克先生正在房里休息。突然，他的女佣急匆匆地从客厅里跑进来，说：先生，不好了，客厅着火了！
埃里克赶忙同女佣一道跑了出来。
原来，女佣不小心将壁炉里的炭火掉了一块出来，将地毯引燃，烧了一大块洞。
埃里克心疼地说：客厅里有这么多暖水瓶，你就不会把水倒出来浇灭吗？
那可不行！女佣回答，暖水瓶里的水也是热的啊！
66、	一个小孩去商店买东西，可是服务小姐不理睬他，只顾着和旁边的男人煽情，小孩非常气愤！
于是说：我是来买东西的，我是上帝！！！
服务员说：你认识上帝？
小孩说：那当然！！
服务员说：上帝是男人还是女人？
小孩说：上帝介忽于男人与女人之间！
服务员说：那上帝是黑人还是白人？
小孩说：上帝介忽于黑人和白人之间！
服务员说：哦，原来上帝是迈克尔•捷克逊！

67、	某天有一个闻起来像酒桶的醉汉上了一班公车。他坐在一个神父隔壁，那个醉汉的榇衫很脏，他的脸上布满了女人的红唇印，口袋里还放了空酒瓶，他拿出他的报纸阅读，过了一会儿，他问神父说:神父，得关节炎的原因是什么？
这位先生，它是因为浪费生命、和妓女鬼混、酗酒和不自重所引起的。神父如是说。
噢，我真该死！醉汉喃喃的说后继续阅读报纸。
神父想了一下，向醉汉道歉说: 对不起，我不应该这么直接的，你患关节炎多久了？
不是我，神父，我只是看到报纸上写说教皇得了关节炎。

68、	老师在学生的鉴定表上写到：歌莉亚的话太多了，每节课都交头接耳说个不停。歌莉亚的父亲看了以后，补上一行：如果你有幸认识她妈妈就不会奇怪了。

69、 问：如果一个灯泡坏了，需要更换一个新的，需要几个微软公司的职员？
答：四个。一个要问：灯泡的登记号是多少？ 
另一个要问：你有没有再开一次试试？ 
第三个要问：你有没有把灯泡卸下来再安一次试试？ 
最后一个说：一定是硬件出了问题，因为我们办公室的灯泡都是好的。
70、 狗要咬乌龟的头。
乌龟连忙把头缩进龟壳里。
狗骂到：你这个缩头乌龟，真没用！ 
乌龟笑到：做乌龟要是不会缩头，那才没用呢！有一个农村小裁缝到城里来开眼界。可是他走到你个服装店却看到有几个女人没穿衣服（其实那都是些模特），他老是觉得满脸发烧，自己也稀哩糊涂地就买了一个模特回家了。街坊邻居问：你买这个裸体女人做什么啊？他回答说：城里的单身裁缝都娶这样的老婆，而且还三妻四妾的呢！
71、	一个五十多岁的老女人，还打扮得花枝招展，妖娆美丽，就好像她还是个少女似的。 
在一次宴会上，老女人碰上一位大作家，就问道：我说大作家，以您的慧眼，不知能不能看出我有多大年纪了？
大作家回答说：这位女士，您的言谈天真活泼，就像是十四岁的小女孩；你的举止轻盈妩媚，就像是十六岁的少女；而这一身富有朝气的打扮，则最多不超过二十岁! 
那老女人一听，高兴得差一点跳起来拥抱这位大作家，她立刻把声音提高八度问道：那您能不能准确地说我究竟有多大呢？
......

72、	凌晨，我和丈夫被一阵电话铃声吵醒，我嘟哝着去听电话。
“谁呀？”紧接着一个男人悲哀急促的声音使我吃了一惊，“菲丽丝，我的心肝，别挂电话，请听我解释……”
“但是……”我想插进去说。
“我答应你我决不再那样干了，在这个世界上你对我就是一切！”
“可是……”我急于解释。
“不！听我说，没有你我会死的！”
这时候，站在我身边的丈夫开始大笑起来。
“你在外面有男人了。是吗？菲丽丝？”
......

73、	3个美国人在俱乐部里谈论什么是名气.
一个说：“名气就是应邀到白宫去和总统会谈。”
第二个人说：“不，名气是应邀到白宫去和总统会谈，碰巧来了电话，总统懒得去接，继续和你交谈。”
第三个人说：“你们都错了！名气是应邀到白宫去和总统会谈，碰巧来了电话，总统拿起电话一听，然后客气的对你说：‘阁下，您的电话’。”

74、	去大便，蹲式的，完事后发现没带手纸，想想用手指弄干净算了，
结果大便很黏，于是使劲的甩想将其甩掉，手指打到蹲坑的边缘，好痛，条件反射的用嘴含住手指……
悲剧！！！

75、 从前，有一个武官在战场上督阵时，查获一名逃兵，他大发雷霆，写下了一道手谕：作杖毙论处。谁知毙字不会写，想改打军棍，可是棍字也不容易写。最后只得对逃兵说：去吧！今天便宜你了。
76、 一天，三个会说大话的人碰到一起，甲立即提议比赛一下看谁最能说大话。他先说：我立着头顶天，脚踏地。
乙说：我坐着头就顶天了。
丙说：我的上嘴唇靠天，下嘴唇靠地。
甲问：那你的头和身子呢？
丙说；我只有一张嘴。
77、 有一个人生就飞毛腿，跑得特别快，而且经常以此在人前夸耀。
有一次，他家被盗，他连忙跑去追贼。看到贼人背影时，他高喊道：别跑了，你说什么也跑不过我！没多久，他果然赶过了贼人，但还一个劲地跑下去。
半路上有人问他跑得这样急干什么，他说追贼。又问他，贼往哪里跑了，他得意地说：我早就赶过他了，看，现在连他的影子也看不见了！
78、	门外传来了敲门声，乔对妻子说：我敢打赌，准是隔壁的布鲁格那家伙借东西来了，我们家一半的东西他都借过。
我知道，亲爱的。乔的妻子答：可你为什么每次都向他让步呢？你不会找个借口吗，这样他就什么都借不走。
好主意。乔走到门口，去接待布鲁格。
早晨好！布鲁格说，非常抱歉来打搅您。请问您今天下午用修枝剪吗？
真不巧，乔答道，今天整个下午我要和妻子一起修剪果树。
果真不出我之所料。布鲁格说，那么您一定没时间打高尔夫球了，把您的高尔夫球杆借给我，您不会介意吧！早上在公交车里，一个男的手机响了，只看他一边从口袋里拿手机一边嘴里嘟囔着：“这么早，哪个孙子来电话……”
接了电话：“喂！爸……”

79、	有一个人在银行开户，委托银行职员为他填表：您的姓名？
费费费雷罗.彼彼彼得洛维奇.帕帕帕里奇。
对不起，您口吃吗？
不，我父亲口吃，那个为我进行出生登记的官员简直是个白痴！

80、	一位英国绅士与一位法国女人同坐一个火车包厢。法国女人想引诱这个英国绅士，于是她脱衣躺下后就开始抱怨太冷。英国先生把自己的被子给了她，但这个女人仍不停地说冷。 我还能怎么帮助您呢？沮丧的先生问。 我小时候，妈妈总是用自己的身体给我取暖。女人说。 请原谅，女士，我可不想在半夜里跳下火车去找您的妈妈。英国绅士说。

81、 一日，某人到朋友家做客，见友人家的狗很是特别，便问：其它的狗摇尾巴时总是左右摇摆，为什么你们家的狗是上下摇摆？
友人答曰：这是由于我们家住房十分紧张。
82、	美国联邦调查局的电话铃响了。
你好，是联邦调查局吗？
是的，有什么事吗？对方问。
我打电话举报邻居汤姆。他把大麻藏在他家的木柴中。告发者说。
我们会调查的。联邦调查局特工说。
第二天，联邦调查局人员去了汤姆家。
他们搜查了放木柴的棚子，劈开了每一块木柴，没有发现大麻，把汤姆骂了一顿后走了。
汤姆家的电话响了。
喂，汤姆！联邦调查局的人帮你劈柴了吗？
劈了。汤姆答道。
好，现在该你打电话了。我家花园要翻土。

83、 某青年画家专画海上风暴，画里浓云低沉，天昏浪高。他初次举行画展时，女友把全部作品仔细看过，然后就对他说：真可惜。
有什么可惜的？画家问。
你的运气真不好，碰到的天气总是那么坏！
84、	一群SB在讨论谁是SB中的2B，大家都争着说自已是，最后他人找到一家精神病院的院长……
院长说：“你们每个人先交300元。”
大家都交了，院长说：“你们都是。”

85、	钥匙不小心掉到马桶里……然后我觉得应该立即做一些什么……
所以马上按了冲水按钮……然后呆呆地盯了马桶很久很久。

86、	提前下班，回到家里，想给女友一个惊喜。结果发现同事和女友躺在床上。我还没反映过来，他们俩就异常冷静的冲我比了个“耶”。然后说：“愚人节快乐！”
然后迅速的穿好衣服，临走之前还说：“瞧你被吓的！放轻松点！”

87、	&quot;一个年轻的猎人来向老猎人请教如何猎熊。老猎人说,通常我都是先找到一个山洞,然后向洞里扔一块石头,如果听到有“呜呜……”的声音,那里面一定有熊。你就跳到洞口,向里面开枪,一定能打到熊的。
过了几天,老猎人在医院里看全身缠满绷带的年轻猎人,很惊讶。
年轻猎人说：我去猎熊,先找到一个山洞,然后我向里面扔了一块石头,听到里面有‘呜呜……’的声音,我就跳到洞口……可是,我还没来得及开枪,从山洞里开出一列火车…… 有一个女子因为胸部平平，很想尝尝大胸部的滋味，四处寻找偏方，后来有一位友人告诉她说，若能找到一名巫医，问那巫医是否愿意娶她，而当那个巫医回答不时，她的胸部便会大起来。
她好不容易找到那名巫医，便打扮的十分丑陋的去见他，并问道：你愿意娶我吗？巫医一脸不爽的道：不！顿时，她的胸部长大到34寸。
过了一阵子，这女子希望尝尝36寸的滋位，又如法泡制的找了那位巫医，巫医再度狠狠的说：不！女郎的胸部便增长到36寸。拥有傲人的胸围后，她非常受到男子的青睐，邀约不断，但人心不足蛇吞象，她又想尝尝38寸的滋味，又再度蓬头垢面的去找巫医。
......&quot;

88、 记者到一个偏僻的乡村采访，他望着村外弯弯曲曲的小路问一位老农：这地方没来过汽车吧？老农一听不满地说：哪里话？连飞机都来过哩！老农边说边朝天空比划着，来来往往多少回了，就是没下来过。
89、	一个男子看见一家商店大减价，便走了进去。您买些什么？我想买狗食。我们有规定，您必须证明您有狗。 哪儿有这样的规定？减价商品就是这样。男子与售货员磨了半天，售货员还是不同意卖给他。没有办法，男子只好回家把狗带来，才买到了狗食。
过了几天，男子又去这家商店买猫食。给我两盒猫食。我们有规定，您必须证明您有猫。还是那个售货员，男子又与她磨蹭了半天，结果还是不得不回家把猫带来才买到了猫食。
又过了几天，男子抱着挖有一个洞的大纸箱来到那家商店，找到那个售货员。您买些什么？你把手伸进去就知道。售货员把手伸了进去：是什么呀，粘乎乎的。我想买两卷儿手纸。
......

90、	某日与朋友去爬了一座山，到了山顶，我们迎着凉爽的风张开了手臂，
朋友还发了感慨：“啊！多么美丽的景色!多么清新的香味！
这是栀子花开的香味吧！真想凑向花那边去闻一闻！”
此时我真的无法淡定了，难道他没有看见前方不远处有一小孩在大便吗？

91、	有一个人要打一把锅铲，恰好一个铁匠从门前经过，他把铁匠喊进屋，拿了秤砣要铁匠打。
铁匠说：“这是生铁，不能打。”
这人就说： “那你明天来，我拿熟铁给你。”
第二天铁匠如约而至，那人从锅里把秤砣捞出来。
铁匠不高兴地说：“我说过这是生铁，不能用！”
谁料这人也发了脾气：“技术不行别逞能！昨天我就把这秤砣放到锅里用大火煮、煮了大半夜，你怎么能说还是生的！” 
山里人没吃过汤圆，一次逛街，他要了一碗，用勺子舀起一个放进嘴里，光溜溜、热呼呼一口就吞下去了，好家伙，把心口烫得烧痛烧痛，满心怒火。
晚上回家，家里做的馄饨，他一看，便冷笑道：“汤圆呀汤圆，你以为你长了两个翅膀，老子就不认识你了！这一回，我可要凉一凉慢慢收拾你。”

92、	甲：昨天我收到一个家伙寄来的信，信上说如果我不离开他老婆他就要杀我。
乙：你离开他的老婆不就完了嘛！
甲：可那个家伙在信中没有署名！
93、 人往往是好奇心害了自己，可是谁又没有好奇心呢？ 有一对夫妇听说河豚是丰盛的美味，就非常好奇地买来准备做着吃。可是，他们又听说河豚有毒性，所以一旦把菜做好了，又怀疑起来，互相推让，谁也不肯先吃一口试试。僵持了好长时间，妻子才迫不得已地先拿起筷子，含着泪对丈夫说，吃是我先吃了，只求你今后好好照料咱们的两个儿女；等他们长大了，你一定要教他们千万不要买河豚吃。 为满足一点点好奇心，竟要拿出赴死的代价，这又何苦？
94、 丈夫向妻子诉说他的高兴事：今天真运气，我买了一把锁，问售货员多少钱 ，他说一元。我付了钱打开一看，里面还有两把钥匙呢，但他忘了跟我收钥匙钱了。 他妻子一听很高兴，忙说：轻声点，别让旁人听见。
95、 上网热一波接一波，很多公司都开了帐号，但往往是职员会用老板不懂。一天，老板问下属：这个………在家里怎么上网？职员答：把您的手提电脑接上电话线拔号上网即可。老板随即说：这个我知道。晚上职员call机直叫不停，复台曰老板接上电话线后上不了网。职员飞奔而至，只见老板的手提电脑上绑着一根电话线，还打了个很不错的蝴蝶结，手里拿着电话直拔96300，嘴里嘀咕着：怎么回事，又是这么大杂音？
96、	茶会上，一位妇女问她的邻座：“对面那个丑八怪是谁？”
邻座回答：“他是我哥哥。”
这位妇女很尴尬，过了一会儿才结结巴巴地说：“我真笨，你们兄弟俩长得那么像，我怎么就看不出来呢？”

97、	中午同事吃饭，姑娘A：“昨天大悦城有个男的跳楼，半裸的。”
姑娘B：“上半截裸还是下半截裸？”

98、 有一个人见到街上一些受围观的人，便开始夸口说，他能从商店拿走任何商品，而不会被人发现。一位过路的人建议打50美元的赌，并说这个吹牛者甚至连一盒巧克力糖也拿不出来，那人同意了，于是他们俩朝商店走去。 
请在入口等我。大胆的人说完便走进去，他从货架上拿了一盒巧克糖就出来了。 
给你。他洋洋得意地说，现在您已很清楚了吧，我打赢了。 
过路人笑了起来，您的确干得很灵巧，他对说大话的人说，但是请允许我告诉您，我是警察局侦缉处的侦探，我打算以盗窃罪逮捕您。 
且慢。说大话的人说，既然这样，请允许我向您说明，我是这个商店的主人。
......

99、 三个犯人坐在一个斜眼的法官面前。 
法官威严地问道，你叫什么名字？比尔。第二个犯人老老实实地答道。 
我没有问你！法官咆哮着。可是我什么也没说呀。第三个犯人委屈地答道。
100、 一个男人站在街角，双手各拿一顶帽子，等着别人布施，有位行人停下来往一顶帽子里扔了个硬币，然后问：另一顶帽子是干什么用的？最近生意做大了。那人回答，我决定开家分公司。 
他用手抓着肩膀，停了3秒钟，又继续说道：我气极了，于是干了一件任何一个有血有肉的战士都会干的事。 
什么？小姐们紧张地问。 
年轻士兵微笑着回答：流血
2、 布朗说：我想离婚，我太太3个月不跟我说一句话。朋友说：你真幸福！这么安静的太大哪儿去找？
3、	救火！救火！电话里传来了紧急而恐慌的呼救声。
在哪里？消防队的接线员问。
在我家！
我是说失火的地点在哪里？
在厨房！
我知道，可是我们该怎样去你家呢？
你们不是有救火车吗？！
　　从小到大，升旗时注意力不是在国旗上，而是看看国歌奏完时，国旗是不是正好停在杆顶…… 
　　经常指着课本上丑的图片对同桌说，看，这是你。同桌就翻遍整本书寻找比这个更丑的图片说，看，这是你！ 

　　在与寒假先森约会的时候总会出现一个叫寒假作业的小三。 

　　开学前一天晚上，我国用电量将直线上升。 

　　每次我买饮料都是谢谢惠顾，一天我考试突然惠字不会写了，我就把旁边的饮料打开，当时我疯了，居然中了，再来一瓶。 
　　这次考试考得很不错啊，只挂了两科，文科and理科。 

　　每天都要挨骂四次，有早上不起床，起床就上网， 一天不看书， 晚上不睡觉 

　　老师，作业在手里攒一寒假了，有感情了。 咱不交了成吗。 

　　这年头，厕所都成了学生的休闲地带。 

　　此次起床共用了5分钟，你已击败了全国88%学生，寝室还有一位同学起床失败，正在重起，隔壁宿舍全部死机。 
　　宿舍睡觉前关灯之后想象到处都是鬼，要以120迈的速度冲上床。 

　　老师说：快要中考了，早恋的就不要吵架了，以免影响心情；没早恋的就不要表白了，以免被拒绝影响心情。 

　　放个寒假才20几天！这年月连失个恋都得33天呢。 

　　语文考完了，我哭了。数学考完了，我发现我哭早了。 
　　电脑，你别这样，让我走，我是一个有作业的人。 

　　考试作文主题是什么是勇气，我交卷子，作文只有五个字，这就是勇气。 

　　谁还记得在学校时，那句经典的话，你给我等着，放学堵你。 

　　到现在还未写寒假作业的同学，一定能成就大事，因为他们比一般人沉着冷静，临危不乱，心静如水！ 
　　寒假先生去世前他紧紧握着我的手，用一个低沉缓慢沙哑的声音说：会，会，咳咳，会有暑假替我爱你…… 

　　医生，我最近睡不着心情坏，吃不下饭，我肿么了？医生问：你今年多大了？我：15岁。医生说：你作业没做完吧？ 

　　寒假作业其实就是你写一个月， 老师写一个阅。 
　　小学上了十年，中学十二年，我被评为全校最熟悉的面孔，新老师来了都跟我打听学校内幕…… 

　　考试就像得了病一样，考前是忧郁症，考时是健忘症，考后病情开始好转，拿回卷子时,心脏病就发作了。 

　　扔硬币：正面就去上网、反面就去睡觉，立起来就去写作业。 

　　逃课太多，昨天想去上课。见到老师，老师惊讶地说，这么长时间不见，长这么大了。 
　　以前小学 老师开课 怕出冷场就对我们说：到时候，我一提问你们全举手。会的举右手，不会举左手 。

　　急忙想去学校的人，一般都是好学生，要么学校里有你的另一半在等你。 

　　学生时代的恋爱到结婚，是一辈子最值得骄傲的事情 

　　我多希望在老师提问我为什么的时候，我可以大胆的说一句：懂我的不需解释，不懂的我何必解释。 
　　小学上课费嘴，初中上课费笔，高中上课费脑，大学上课费流量。 

　　有没有过班主任不在班上时教室声音很大，可是有时会诡异的安静几秒。 

　　我一直在纳闷，老师为什么要请家长。 一个连未成年人都没教育好的人，还想教育成年人？ 

　　突然想到一个很严肃的学术性问题，是谁把60分定为及格的？！？ 
　　上学的时候总想玩电脑，放假了只能对着电脑发呆。 

　　不是讨厌学校，而是讨厌学校的一些人，一些事 。 

　　人生那么短，凭什么要因为一场考试的成绩影响了我们的心情。 

　　学校留个刘海都找家长，成绩上不去还赖我发型了？ 

　　在十几年前的一个９月１号，我手舞足蹈眉开眼笑的背上小书包，屁颠屁颠的走进学校，从此踏上了一条不归路。 
　　我终于明白大人为什么不让未成年谈恋爱了 因为 这个年龄的我们 不该承受这些。 

　　我有一个梦想。一张试卷只有5个填空题，学校____科目____班级____姓名____学号 ____。每空20分。

　　不能用成绩来判断孩子的好坏。 

　　姑娘们，以后找老公找个姓夏的，孩子叫夏克，这孩子应该不会被老师提问吧。 
　　小时候，我认为8点是最晚的时间，到了初中，我发觉9：30该睡觉了，现在,每天晚上看下时间，切，才12点。 

　　和同学们约好了。三十晚上，一边看春晚，一边烧寒假作业取暖。 

　　每次考完试我都安慰自己。没事，重在参与…… 

　　小时候，在学校最害怕老师，最害怕请家长，最害怕同学说“我告老师去” 
　　有一天奥特曼去上课，老师提问题，奥特曼一举手，老师挂了。 

　　每一次下课的【老师再见】都比上课的【老师好】的声音要大得多。 

　　从小我就有个宿敌叫别人家孩子，从来不聊QQ，回回年级第一。我恨这个别人家孩子！ 

　　不要和父母吵架。因为你吵不赢的时候只有挨骂，当你吵的赢的时候只有挨打了。听话吧！ 
　　学校啊～你虽然得到了我的人、可是却得不到我的心。 

　　我最讨厌，日志的最后写着谁不转谁就怎么怎么样。 
　　不用怎么样娱乐一下嘛！ 
　　有同感的，有经历的，有傻呵呵偷笑的就很好，我喜欢你们笑。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cartoon_image-37</string>
		<key>title</key>
		<string>超搞笑20个短笑话段子</string>
		<key>content</key>
		<string>1.一领导醉后与小姐同眠。手机铃响，小姐接曰：“对不起，您呼叫的用户已喝醉，请明天再拨！”次日领导老婆大骂：“昨天你喝了多少酒？中国移动都知道了。。。4.阿拉伯学生给他爸发了封电子邮件：“老爸，柏林是个好地方。这里的人都很友善。但是我进了学校有点不好意思。别人都坐地铁上学，就我开一个纯金奔驰。”爸爸回信：“儿子，给你转了2亿美元过去。别给我丢人了，赶紧去买个地铁！”

5.一男生对女朋友说：“我想分手，我觉得烦了，就没有感觉了。”女朋友对他说了一段让他顿时无语的话。“亿万中国人民对国足早就烦了。早就没感觉了，为什么国足还没有解散？13亿人的烦都没能解散一个11个人的队伍，现在你一个人说烦了，要解散两个人的队伍？！

6.吃饭的时候，一女同事忧心忡忡地说：“我可能要红了。” 大家很好奇，问“怎么啦？”“刚才发现我的一块U盘丢了，8个G的。。。

7.刚入学的时候，全班自我介绍。一男同学走上讲台：“我叫王鹏，来自北京，我爱下棋！”说完就下去了，下一位是个女生，该女娇羞地走上讲台，忐忑不安地自我介绍：“我……我叫夏琪……”。。

8.有个百万富翁被告知得了绝症只剩下半年时间，伤心之余找了个杀手，让在自己最开心的时候杀掉他。几天后，百万富翁接到误诊的通知，正笑得开心，被杀手杀了。

9.出海两年多的的船员阿福终于回到家乡。但一回到家的他却发现多一个婴儿！阿福激动的问着妻子“是谁干的好事？是不是隔壁的阿呆？”“不是。”妻子回答“是不是我的朋友阿瓜？”“不是。”“一定是小王，我那该死的酒肉兄弟！”“烦死人了！”妻子叫道“难道我就没有自己的朋友吗？”

10.小明一直为他的爸爸是一个伟大工程师感到骄傲。 某日，他遇到小华。于是和小华聊了起来。 小明对小华说：“你知道喜马拉雅山吗？” 小华说：“知道啊。” 小明说：“那是我爸爸建成的。嘿嘿” 当时小华就无语了。他想了一会。 说：“你知道死海吗？那是我爸爸杀死的。”

11.某君的QQ状态很搞，上面浪漫的写着：“你五毛我五毛，那么咱俩就能一块了！众人羡慕之时，另一女说到：你六毛我六毛咱俩就能一块2了…再另一女接到：你七毛我七毛，咱俩就能一块死了…”

12.妻：“老公，我刚听到报道说高速路上有一辆车在逆行，你要小心！”，夫：“一辆？我看一百辆都不止！”

13.大学毕业三年，几个同学在班群聊天，聊的全是技术，java，xml之类。另一同学家里开厂，早早做上管理者，插不上嘴，心里很不爽，过了半天插了一句：本公司因业务拓展，招聘驾驶员一名，要求：4年java开发经验！顿时群里安静了。。。

14.小时候，老师告诉我：人的体内都有一个勤奋小人和一个懒惰小人当你犹豫不决时他们就会打架。小学时勤奋小人经常把懒惰小人打得落花流水，初中时就打成平手了，到高中时就是懒惰小人经常获胜了。可是到了大学我忽然发现他们不打架了，妈的勤奋小人被打死了。。。。

15.有一天小明带番茄西瓜和草莓上街，在一个路口番茄被车子压了，小明说：“哈哈哈！番茄酱！” 又到了一个路口，西瓜被撞了，小明说：“哈哈哈！西瓜汁！” 到了第三个路口，小明被车子压死了，草莓说：“哈哈哈！人渣！”

16.十年后，我们不经意间再次相遇，她低声问我：“这些年过得好吗？她对你好吧。”我很伤感，说：“我还没结婚，一直等你。”她眼圈红了红，说：“你晚上7点来宾馆找我吧。”七夕夜，月如钩，我手捧鲜花，提前半小时来到宾馆，她迎我进去，招呼我坐下，幽幽问道：“你听说过安利吗？”……

17.“你喜欢我吗？”“你猜。”“喜欢！”“你再猜。”

18.今天拣了个手机，想还给失主，于是在他手机里找了个号码打了过去（是失主的妹妹），对方接通后说：哥，什么事？我说：你是这个手机主人的妹妹吗？你哥手机我拣到了！她听后说：哦，你等一下。然后就把电话给挂了。大约一分钟后。电话响了，我一接，就听对方是个女的说：哥，你的电话找到了！

19.今年湖南省的高考语文作文题是“早”，从考场出来大家谈论着，突然一人惊呼：“早？不是旱吗？崩溃….”

20.某大学一男生跳楼，成功示众死亡后，整理遗物，手机短信接收的最后一条:老公，教学楼那边好像有人跳楼，赶紧去看。

21.出租车上电台说“大家好！今天请来一嘉宾，有请范范，范纬琪！”司机说… MD，现在咋结巴都能当电台DJ了！

上午广州大学城有一个学生跳楼死了。记者刚刚采访完回来，原因是找到工作了狂欢，把酒喝多了摔下楼死了。记者一问签约的是哪里，说是深圳富士康！

22.特渴，去一小卖部买了瓶冰红茶。喝了一半发现是山寨的，已经喝了，也没说什么。一看瓶盖，再来一瓶。马上给老板说中奖了，再给一瓶。老板很淡定地说，你再仔细看看。我一看，操，再买一瓶！

23.1,­抢匪：“快把保险箱密码说出来！不说就杀了你！”  ­

女职员：“不说！杀了我也不说！你就是糟蹋了我我也不说！！”  ­

抢匪上下打量了一番女职员后，骂道：“你想得美！”   ­

2 ,­

一个记者去南极采访100只企鹅！问这些企鹅一天都干些什么！ ­

第一只说：“吃饭、睡觉、打豆豆” ­

第二只说：“吃饭、睡觉、打豆豆” ­

一直问了99只都如此，问到第100只说：“吃饭、睡觉。” ­

记者问：“你怎么不打豆豆？” ­

企鹅说：“妈的，我就是豆豆了。” ­

3,­

赵本山骑驴进城巧遇范伟！ ­

范伟问：“吃饭了吗？” ­

赵本山说：“吃了！” ­

范伟得意的说：“我问驴呢，你插什么话！” ­

赵本山转身抽了驴两耳光，骂道：“城里有亲戚也不说一声。”­

4、­

大街上走来了一个穿黄色T恤胖胖的中年女人！ ­

胸前的T恤上写了几个字：“我是处女！” ­

路人都好奇的停下了脚步，胖女人微笑地从他们面前走过。 ­

稍后，众人哄的一声散开了！ ­

原来，胖女人的背上也有一行字：“那是很久以前的事了。” ­

5,­

一群萤火虫在空中飞，其中有一只不发光！ ­

另一只很好奇地问他：“哥门，你怎么不发光啊？” ­

不发光的萤火虫回答道：“哎，哥们上月忘交电费了！” ­

6,­

有一人乘飞机晕机，忍不住要吐，赶紧让空姐拿一个塑料袋！ ­

不料，晕得太严重了，很快塑料袋就要吐满了！ ­

空姐说：“你忍一下我再去拿一个！” ­

空姐回来后，发现竟然满地都被吐上了！ ­

空姐生气的问：“怎么回事？” ­

乘客说：“我一看马上要吐满了，就赶紧喝了一口，结果没想到其他所有人都吐了！­

7,­

一美女下夜班,被一色男子尾随跟踪,美女很害怕,正路过一片坟地, 色男子正要下手, 美女走到一座坟墓前说:“爸爸,开门吧,我回来了”。吓的色男子狂奔而去。 美女为自己的聪明得意地笑了起来，哪知笑声未落，从坟墓里传出一个阴森森的声音说：“闺女，你咋又忘记带钥匙了呢？”吓得美女尖叫著跑了。 这时，一个盗墓者从坟墓里爬了出来，说：“影响我工作，吓死你”。突然发现墓碑前有一老者，手拿凿子在刻墓碑，就奇地问：“你在干吗”？老者生气地说：“这些不肖子孙把我的墓碑都刻错了，只自己来改啦”。盗墓者一听，吓得撒腿就跑了。 看著盗墓者的背影，老者冷笑道：“跟老子抢生意，吓死你”。一不小心，凿子掉地上了，老者正要弯腰去拾，却看见从草丛中伸出一只手，同时还有个冷冰冰声音：“ 啊，敢乱改我家的门牌号”。吓得老者连滚带爬地跑了。 一个拾荒者从草丛中爬出来，捡起地上的凿子，感叹道：“这年头，捡块烂铁还得费这么大神。”

看完之后，你笑了么？如果笑了,就回帖吧，又花不了你几秒钟，顺便把帖子顶起来，支持下楼主嘛！让更多的人开心啦，独乐乐不如众乐乐。你说是么？回帖者，祝你永远快乐，全家幸福。

2.儿子战战兢兢地回到家：“爸，今天考试只得了60分”。爸爸很生气：“下次再考低了，就别叫我爸！” 第二天儿子回来了：“对不起，哥!”

3.夜，女儿心急给妈打电话：“妈！他还没回来，一定有别的女人了！”娘轻声安慰： “傻孩子，乖，别净往坏处想，兴许是出车祸了！”</string>
	</dict>
</array>
</plist>
